<div class="view view-news-on-homepage view-id-news_on_homepage view-display-id-block">
  <div class="view-content">
    <section class="flexslider-media-block__wrapper">
      <div class="l-wrapper">
        <h1 class="flexslider-media-block__title">News &amp; Updates</h1>
        <div class="flexslider-media-block">
          <ul class="slides">
            <li>
              <div class="media-block__carousel">
                <div class="media-block__carousel--3-up">
                  <div class="media-block cat-news">
                    <div class="media-block__image">
                      <a href="/en-US/news/2020-czu-fire-eton">
                        <picture>
                          <source
                            data-srcset="/assets/img/scb_tanker_czu_hero.jpg?itok=Cp2hL7ez 2x, /assets/img/scb_tanker_czu_hero.jpg?itok=5qkCeyqN 1x"
                            media="(min-width: 0px)"><img data-src="/assets/img/scb_tanker_czu_hero.jpg?itok=5qkCeyqN"
                            class="lazyload" alt="Eton Image" title=""></picture>
                      </a>
                    </div>
                    <div class="media-block__text-container">
                      <div class="media-block__category"></div>
                      <h2 class="media-block__title"><a href="/en-US/news/2020-czu-fire-eton">CZU
                          Fire Information &amp; Fundraiser</a></h2>
                      <a class="media-block__cta" href="/en-US/news/2020-czu-fire-eton">Read
                        More</a>
                    </div>
                  </div>

                  <div class="media-block cat-news">
                    <div class="media-block__image">
                      <a href="/en-US/news/2020-danny-macaskill-virtual-insanity">
                        <picture>
                          <source
                            data-srcset="/assets/img/ponvr_1.55.1.jpg?itok=0-SttLFy 2x, /assets/img/ponvr_1.55.1.jpg?itok=L1YrXJE3 1x"
                            media="(min-width: 0px)"><img data-src="/assets/img/ponvr_1.55.1.jpg?itok=L1YrXJE3"
                            class="lazyload" alt="Eton Image" title=""></picture>
                      </a>
                    </div>
                    <div class="media-block__text-container">
                      <div class="media-block__category"></div>
                      <h2 class="media-block__title"><a href="/en-US/news/2020-danny-macaskill-virtual-insanity">Danny
                          MacAskill's Virtual Insanity</a></h2>
                      <a class="media-block__cta" href="/en-US/news/2020-danny-macaskill-virtual-insanity">Read
                        More</a>
                    </div>
                  </div>
                  <div class="media-block cat-news cat-562 cat-560">
                    <div class="media-block__image">
                      <a href="/en-US/news/2020-all-wheel-drive-full-video">
                        <picture>
                          <source
                            data-srcset="/assets/img/scb_my21_5010_50to01_dpaley-294.jpg?itok=m_K6Xj0S 2x, /assets/img/scb_my21_5010_50to01_dpaley-294.jpg?itok=jxJno3MQ 1x"
                            media="(min-width: 0px)"><img
                            data-src="/assets/img/scb_my21_5010_50to01_dpaley-294.jpg?itok=jxJno3MQ" class="lazyload"
                            alt="Eton Image" title=""></picture>
                      </a>
                    </div>
                    <div class="media-block__text-container">
                      <div class="media-block__category"><a href="/en-US/news?show=news">News</a></div>
                      <h2 class="media-block__title"><a href="/en-US/news/2020-all-wheel-drive-full-video">All
                          Wheel Drive - Full Video </a></h2>
                      <a class="media-block__cta" href="/en-US/news/2020-all-wheel-drive-full-video">Read
                        More</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="media-block__carousel">
                <div class="media-block__carousel--6-up">

                  <div class="media-block cat-news cat-560">
                    <div class="media-block__image">
                      <a href="/en-US/news/2020-sundays-with-sven">
                        <picture>
                          <source
                            data-srcset="/assets/img/scb_team_photo_sven.jpg?itok=MNGNqXjv 2x, /assets/img/scb_team_photo_sven.jpg?itok=MawGSjnq 1x"
                            media="(min-width: 0px)"><img data-src="/assets/img/scb_team_photo_sven.jpg?itok=MawGSjnq"
                            class="lazyload" alt="Eton Image" title=""></picture>
                      </a>
                    </div>
                    <div class="media-block__text-container">
                      <div class="media-block__category"><a href="/en-US/news?show=news">News</a></div>
                      <h2 class="media-block__title"><a href="/en-US/news/2020-sundays-with-sven">Sundays
                          with Sven - The Series</a></h2>
                      <a class="media-block__cta" href="/en-US/news/2020-sundays-with-sven">Read
                        More</a>
                    </div>
                  </div>
                  <div class="media-block cat-news">
                    <div class="media-block__image">
                      <a href="/en-US/news/2020-5001-crew-new-5010">
                        <picture>
                          <source
                            data-srcset="/assets/img/scb_danpaley_revs-04643.jpg?itok=hzM7aJ5a 2x, /assets/img/scb_danpaley_revs-04643.jpg?itok=R7WQ3orQ 1x"
                            media="(min-width: 0px)"><img
                            data-src="/assets/img/scb_danpaley_revs-04643.jpg?itok=R7WQ3orQ" class="lazyload"
                            alt="Eton Image" title=""></picture>
                      </a>
                    </div>
                    <div class="media-block__text-container">
                      <div class="media-block__category"></div>
                      <h2 class="media-block__title"><a href="/en-US/news/2020-5001-crew-new-5010">50:01
                          Getting Into the 5010</a></h2>
                      <a class="media-block__cta" href="/en-US/news/2020-5001-crew-new-5010">Read
                        More</a>
                    </div>
                  </div>
                  <div class="media-block cat-news cat-560">
                    <div class="media-block__image">
                      <a href="/en-US/news/2020-mtb-wheel-size">
                        <picture>
                          <source
                            data-srcset="/assets/img/scb_web_pdp_action2.jpg?itok=qMhMxv50 2x, /assets/img/scb_web_pdp_action2.jpg?itok=SrToWLpz 1x"
                            media="(min-width: 0px)"><img data-src="/assets/img/scb_web_pdp_action2.jpg?itok=SrToWLpz"
                            class="lazyload" alt="Eton Image" title=""></picture>
                      </a>
                    </div>
                    <div class="media-block__text-container">
                      <div class="media-block__category"><a href="/en-US/news?show=news">News</a></div>
                      <h2 class="media-block__title"><a href="/en-US/news/2020-mtb-wheel-size">What the
                          Wheel Size</a></h2>
                      <a class="media-block__cta" href="/en-US/news/2020-mtb-wheel-size">Read More</a>
                    </div>
                  </div>






                  <div class="media-block cat-news cat-560">
                    <div class="media-block__image">
                      <a href="/en-US/news/2020-creepy-fatigue-belgium">
                        <picture>
                          <source
                            data-srcset="/assets/img/scb_belgium_stig-02.jpg?itok=4eYiyaQl 2x, /assets/img/scb_belgium_stig-02.jpg?itok=mNjg-9Xf 1x"
                            media="(min-width: 0px)"><img data-src="/assets/img/scb_belgium_stig-02.jpg?itok=mNjg-9Xf"
                            class="lazyload" alt="Eton Image" title=""></picture>
                      </a>
                    </div>
                    <div class="media-block__text-container">
                      <div class="media-block__category"><a href="/en-US/news?show=news">News</a></div>
                      <h2 class="media-block__title"><a href="/en-US/news/2020-creepy-fatigue-belgium">Creepy
                          Fatigue</a></h2>
                      <a class="media-block__cta" href="/en-US/news/2020-creepy-fatigue-belgium">Read
                        More</a>
                    </div>
                  </div>






                  <div class="media-block cat-news cat-560 cat-11">
                    <div class="media-block__image">
                      <a href="/en-US/news/3616">
                        <picture>
                          <source
                            data-srcset="https://www.etonbicycles.com/files/styles/scb_crop_1000_529/public/screen_shot_2020-05-27_at_2.25.43_pm.png?itok=mRpaV7PP 2x, https://www.etonbicycles.com/files/styles/scb_crop_500_265/public/screen_shot_2020-05-27_at_2.25.43_pm.png?itok=7aP3cPLz 1x"
                            media="(min-width: 0px)"><img
                            data-src="/files/styles/scb_crop_500_265/public/screen_shot_2020-05-27_at_2.25.43_pm.png?itok=7aP3cPLz"
                            class="lazyload" alt="Eton Image" title=""></picture>
                      </a>
                    </div>
                    <div class="media-block__text-container">
                      <div class="media-block__category"><a href="/en-US/news?show=news">News</a> / <a
                          href="/en-US/news?show=video">Video</a></div>
                      <h2 class="media-block__title"><a href="/en-US/news/3616">The Privateer: Walk the
                          Talk Episode 3</a></h2>
                      <a class="media-block__cta" href="/en-US/news/3616">Read
                        More</a>
                    </div>
                  </div>

                  <div class="media-block cat-news cat-560 cat-9 cat-11">
                    <div class="media-block__image">
                      <a href="/en-US/news/2020-video-spanners-luca">
                        <picture>
                          <source
                            data-srcset="https://www.etonbicycles.com/files/styles/scb_crop_1000_529/public/screen_shot_2020-05-13_at_9.49.56_am.png?itok=cQQNN356 2x, https://www.etonbicycles.com/files/styles/scb_crop_500_265/public/screen_shot_2020-05-13_at_9.49.56_am.png?itok=Y_H5w-6C 1x"
                            media="(min-width: 0px)"><img
                            data-src="/files/styles/scb_crop_500_265/public/screen_shot_2020-05-13_at_9.49.56_am.png?itok=Y_H5w-6C"
                            class="lazyload" alt="Eton Image" title=""></picture>
                      </a>
                    </div>
                    <div class="media-block__text-container">
                      <div class="media-block__category"><a href="/en-US/news?show=news">News</a> / <a
                          href="/en-US/news?show=video">Video</a></div>
                      <h2 class="media-block__title"><a href="/en-US/news/2020-video-spanners-luca">Video:
                          Reserve Wheel Build with Luca Shaw</a></h2>
                      <a class="media-block__cta" href="/en-US/news/2020-video-spanners-luca">Read
                        More</a>
                    </div>
                  </div>


                </div>
              </div>
            </li>
            <li>
              <div class="media-block__carousel">
                <div class="media-block__carousel--6-up">

                  <div class="media-block cat-news">
                    <div class="media-block__image">
                      <a href="/en-US/news/2020-video-spanners-greg">
                        <picture>
                          <source
                            data-srcset="/assets/img/scb_web_syndicate_video_onspanners_ep1.jpg?itok=IL34whYB 2x, /assets/img/scb_web_syndicate_video_onspanners_ep1.jpg?itok=nBm4QWGU 1x"
                            media="(min-width: 0px)"><img
                            data-src="/assets/img/scb_web_syndicate_video_onspanners_ep1.jpg?itok=nBm4QWGU"
                            class="lazyload" alt="Eton Image" title=""></picture>
                      </a>
                    </div>
                    <div class="media-block__text-container">
                      <div class="media-block__category"></div>
                      <h2 class="media-block__title"><a href="/en-US/news/2020-video-spanners-greg">Video:
                          Shimano Brake Maintenance with Minnaar</a></h2>
                      <a class="media-block__cta" href="/en-US/news/2020-video-spanners-greg">Read
                        More</a>
                    </div>
                  </div>






                  <div class="media-block cat-news cat-560 cat-8">
                    <div class="media-block__image">
                      <a href="/en-US/news/2020-syndicate-mixed-wheel-v10">
                        <picture>
                          <source
                            data-srcset="https://www.etonbicycles.com/files/styles/scb_crop_1000_529/public/pcb1fapg.jpg?itok=xDh-bvi7 2x, https://www.etonbicycles.com/files/styles/scb_crop_500_265/public/pcb1fapg.jpg?itok=qQ2GXU2l 1x"
                            media="(min-width: 0px)"><img
                            data-src="/files/styles/scb_crop_500_265/public/pcb1fapg.jpg?itok=qQ2GXU2l" class="lazyload"
                            alt="Eton Image" title=""></picture>
                      </a>
                    </div>
                    <div class="media-block__text-container">
                      <div class="media-block__category"><a href="/en-US/news?show=news">News</a> / <a
                          href="/en-US/news?show=racing">Racing</a></div>
                      <h2 class="media-block__title"><a href="/en-US/news/2020-syndicate-mixed-wheel-v10">THE
                          SYNDICATE 2020 - Watch: Mixed Opinions</a></h2>
                      <a class="media-block__cta" href="/en-US/news/2020-syndicate-mixed-wheel-v10">Read
                        More</a>
                    </div>
                  </div>





                  <div class="media-block cat-news cat-560 cat-8 cat-11">
                    <div class="media-block__image">
                      <a href="/en-US/news/2020-ben-cathro-privateer">
                        <picture>
                          <source
                            data-srcset="https://www.etonbicycles.com/files/styles/scb_crop_1000_529/public/panel/scb_web_v10_100panel_home.jpg?itok=8YID-OON 2x, https://www.etonbicycles.com/files/styles/scb_crop_500_265/public/panel/scb_web_v10_100panel_home.jpg?itok=9p44KpTk 1x"
                            media="(min-width: 0px)"><img
                            data-src="/files/styles/scb_crop_500_265/public/panel/scb_web_v10_100panel_home.jpg?itok=9p44KpTk"
                            class="lazyload" alt="Eton Image" title=""></picture>
                      </a>
                    </div>
                    <div class="media-block__text-container">
                      <div class="media-block__category"><a href="/en-US/news?show=news">News</a> / <a
                          href="/en-US/news?show=racing">Racing</a> / <a href="/en-US/news?show=video">Video</a>
                      </div>
                      <h2 class="media-block__title"><a href="/en-US/news/2020-ben-cathro-privateer">Ben
                          Cathro Is the Privateer</a></h2>
                      <a class="media-block__cta" href="/en-US/news/2020-ben-cathro-privateer">Read
                        More</a>
                    </div>
                  </div>

                  <div class="media-block cat-news cat-560">
                    <div class="media-block__image">
                      <a href="/en-US/news/2020-megatower-gallery-vital-builds">
                        <picture>
                          <source
                            data-srcset="https://www.etonbicycles.com/files/styles/scb_crop_1000_529/public/scb_deets_bici5_0.jpg?itok=XEgD1Dhn 2x, https://www.etonbicycles.com/files/styles/scb_crop_500_265/public/scb_deets_bici5_0.jpg?itok=k50TlSR5 1x"
                            media="(min-width: 0px)"><img
                            data-src="/files/styles/scb_crop_500_265/public/scb_deets_bici5_0.jpg?itok=k50TlSR5"
                            class="lazyload" alt="Eton Image" title=""></picture>
                      </a>
                    </div>
                    <div class="media-block__text-container">
                      <div class="media-block__category"><a href="/en-US/news?show=news">News</a></div>
                      <h2 class="media-block__title"><a href="/en-US/news/2020-megatower-gallery-vital-builds">Megatower
                          Mania on Vital MTB</a></h2>
                      <a class="media-block__cta" href="/en-US/news/2020-megatower-gallery-vital-builds">Read
                        More</a>
                    </div>
                  </div>


                  <div class="media-block cat-news cat-560">
                    <div class="media-block__image">
                      <a href="/en-US/news/2020-making-ppe-for-medical-staff">
                        <picture>
                          <source
                            data-srcset="https://www.etonbicycles.com/files/styles/scb_crop_1000_529/public/scb_ppe_project_20200409-13.jpg?itok=9oGQPXXY 2x, https://www.etonbicycles.com/files/styles/scb_crop_500_265/public/scb_ppe_project_20200409-13.jpg?itok=tzS3Yg1y 1x"
                            media="(min-width: 0px)"><img
                            data-src="/files/styles/scb_crop_500_265/public/scb_ppe_project_20200409-13.jpg?itok=tzS3Yg1y"
                            class="lazyload" alt="Eton Image" title=""></picture>
                      </a>
                    </div>
                    <div class="media-block__text-container">
                      <div class="media-block__category"><a href="/en-US/news?show=news">News</a></div>
                      <h2 class="media-block__title"><a
                          href="/en-US/news/2020-making-ppe-for-medical-staff">Manufacturing
                          PPE to Support Medical Staff</a></h2>
                      <a class="media-block__cta" href="/en-US/news/2020-making-ppe-for-medical-staff">Read
                        More</a>
                    </div>
                  </div>

                  <div class="media-block cat-news cat-560">
                    <div class="media-block__image">
                      <a href="/en-US/news/2020-megatower-bike-check">
                        <picture>
                          <source
                            data-srcset="https://www.etonbicycles.com/files/styles/scb_crop_1000_529/public/panel/20200210_scb_chileroadie_amarcoux-362_web.jpg?itok=3SuPxFqh 2x, https://www.etonbicycles.com/files/styles/scb_crop_500_265/public/panel/20200210_scb_chileroadie_amarcoux-362_web.jpg?itok=TesgZfpm 1x"
                            media="(min-width: 0px)"><img
                            data-src="/files/styles/scb_crop_500_265/public/panel/20200210_scb_chileroadie_amarcoux-362_web.jpg?itok=TesgZfpm"
                            class="lazyload" alt="Eton Image" title=""></picture>
                      </a>
                    </div>
                    <div class="media-block__text-container">
                      <div class="media-block__category"><a href="/en-US/news?show=news">News</a></div>
                      <h2 class="media-block__title"><a href="/en-US/news/2020-megatower-bike-check">Iago
                          Garay's Megatower on GMBN</a></h2>
                      <a class="media-block__cta" href="/en-US/news/2020-megatower-bike-check">Read
                        More</a>
                    </div>
                  </div>

                </div>
              </div>
            </li>
          </ul>



          <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems">
            <div *nguCarouselDef="let item;" class="item">
              <div class="tile">{{item}}</div>
            </div>

            <button NguCarouselNext class="rightRs">></button>
            <button NguCarouselPrev class="leftRs">
              < </button> <ul class="myPoint" NguCarouselPoint>
                <li *ngFor="let j of myCarousel.pointNumbers; let index = index"
                  [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(index)"></li>
                </ul>
          </ngu-carousel>


        </div>
        <div class="flexslider-media-block__load-more">
          <a class="btn-tertiary--full-width" href="">Load More</a>
        </div>
      </div>
    </section>
  </div>

</div>
