<div class="view view-news-on-homepage view-id-news_on_homepage view-display-id-block">
  <div class="view-content">
    <section class="flexslider-media-block__wrapper">
      <div class="l-wrapper">
        <div class="flexslider-media-block">
          <p-carousel [value]="sliderImages" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1"
            [circular]="true" [autoplayInterval]="">
            <ng-template pTemplate="header">
              <h1 class="flexslider-media-block__title">{{section.heading}}</h1>
            </ng-template>
            <ng-template let-product let-index="rowIndex" pTemplate="item">
              <div class="media-block__carousel">
                <div class="media-block__carousel--3-up">
                  <ng-container *ngFor="let img of product; let i = index;">
                    <div class="media-block cat-news" [ngClass]="getSliderClass(index, i)">
                      <div class="media-block__image">
                        <a (click)="openDialog(img, i)">
                          <picture>
                            <img [src]="path+img.media_link" class="lazyload" alt="Eton Image" title=""></picture>
                        </a>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
        <div class="flexslider-media-block__load-more">
          <a class="btn-tertiary--full-width" href="">Load More</a>
        </div>
      </div>
    </section>
  </div>
</div>
