<section class="static-banner">
  <div class="container static-container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Frequently Asked Questions</h1>
      </div>
    </div>
  </div>
</section>
<section class="static-section">
  <div class="faq-container">
    <tabset vertical="true">
      <tab heading="PumPumPum Subscription"
        class="tab-body">
        <accordion>
          <accordion-group>
            <button accordion-heading>
              What is Car subscription?
              <span class="faq-mark"></span>
            </button>
            <p>
              Car subscription is the new way to have access to a car of your choice where you don't have
              to worry about a down payment, bank liability, registration of a vehicle, insurance, service
              or maintenance. All these things are bundled up and presented to you as a comprehensive
              package. It's the new way of thinking where you use a car smartly and don't have to stick
              with the same car for a long duration of time. You can always switch or upgrade to another
              car.
            </p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              What is the eligibility criteria for pumpumpum subscription?
              <span class="faq-mark"></span>
            </button>
            <p>
              You should be older than 18 years old and should have a valid driving license of any state.
              Car subscription is based on your credit assessment (6-month bank statements, CIBIL check
              etc.)
            </p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              For how long can I subscribe a car?
              <span class="faq-mark"></span>
            </button>
            <p>
              You can subscribe to a car for a minimum period of 6 months which can go up to 24 months.
              The longer you subscribe for, the lesser is your monthly subscription fee.
            </p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              Is there a KMs limit to how much I can drive?
              <span class="faq-mark"></span>
            </button>
            <p>
              Yes, there is a monthly limit of 1500 kms. for a full month subscription. You can still
              drive beyond the kilometer limit, but the additional kilometers clocked will attract an
              additional charge depending upon the car you subscribed for (Small hatchback to SUV
              additional charge will range from Rs 8/km to Rs 15/km). The kms. will accumulate on a
              pro-rata basis for the period of your subscription (e.g. if you subscribe for 6 months, you
              will be entitled to 9,000 Kms, beyond which there will be an additional charge per km).
            </p>
          </accordion-group>
        </accordion>
      </tab>
      <tab heading="Bookings"
        class="tab-body">
        <accordion>
          <accordion-group>
            <button accordion-heading>
              What documentation will be required?
              <span class="faq-mark"></span>
            </button>
            <p>
              1.Current address proof<br>
              2.Permanent address proof<br>
              3.Driving license <br>
              4.6-month bank statements<br>
              5.Company/working details (for salaried individuals)<br>
              If necessary, some other documents might be required to process the subscription.
            </p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              Do I need to be present at the time of delivery of the car?
              <span class="faq-mark"></span>
            </button>
            <p>
              Yes, either you or an authorised person needs to be present at the time of delivery.
              Delivery charges are Rs 1000 upto 50 km and Rs 2000 beyond 50 km and upto 200 km.
            </p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              How does pumpumpum ensure that the car condition is good ?
              <span class="faq-mark"></span>
            </button>
            <p>
              We procure high-quality used cars after the car matches our 200-checkpoint inspection
              criteria. After procuring the car, it undergoes a complete overhaul in mechanical and
              aesthetic terms. All our cars are scratch-free and dent-less.
            </p>
          </accordion-group>
        </accordion>
      </tab>
      <tab heading="Payments"
        class="tab-body">
        <accordion>
          <accordion-group>
            <button accordion-heading>
              What do I need to pay to get started?
              <span class="faq-mark"></span>
            </button>
            <p>
              Once you choose the car you want to subscribe to, our customer support team will contact you
              and inform about the status of the car and delivery. After that you will have to pay Rs 5000
              as an advanced confirmation payment to confirm your order, which will be adjusted in your
              refundable security deposit. 24 hours before the delivery of your car you have to pay a
              one-month advance subscription fee and a refundable security deposit which is equivalent to
              the two-month subscription fee of the car of your choice.
            </p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              How does the payment system work?
              <span class="faq-mark"></span>
            </button>
            <p>You will be billed at the start of every month for your monthly subscription fee. You can
              make the payment through a credit/debit card, net banking, auto-debit set up on your
              credit/debit card or through an electronic clearing arrangement with your bank.</p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              When is my first monthly payment due?
              <span class="faq-mark"></span>
            </button>
            <p>
              You have 5 days starting from your date of subscription during which you have to pay the
              monthly payment and after that which penalty of INR 500 per day will be levied.
            </p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              What is included in the monthly fee I pay?
              <span class="faq-mark"></span>
            </button>
            <p>The payment includes subscription fee, insurance, service and maintenance and an OBD-device
              annual subscription fee.</p>
          </accordion-group>
        </accordion>
      </tab>
      <tab heading="Maintainance & Service"
        class="tab-body">
        <accordion>
          <accordion-group>
            <button accordion-heading>
              Am I responsible for properly maintaining my car?
              <span class="faq-mark"></span>
            </button>
            <p>
              You are responsible only for maintaining the cleanliness of the car. Our representative will
              contact you for routine service and maintenance. After you return the car back, it is
              expected by us that the condition of the car interiors in terms of cleanliness should be the
              same as when delivered to you. If the car is not properly clean from inside, a standard
              amount will be deducted from the deposit (for hatchbacks Rs. 950 and for sedans & SUVs Rs
              1250 deduction).
            </p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              What is included in maintenance?
              <span class="faq-mark"></span>
            </button>
            <p>
              1. Standard service every 10000 kms.<br>
              2. Tyres (after one complete lifecycle of the tyre)<br>
              3. Clutch plate change at recommended kilometres by OEM or recommended kilometres by PPP
              mechanic & workshop department.
              <br>
              4. Engine timing belt at recommended kilometers by OEM
              <br>
              5. AC gas refuelling <br>
              6. Brake pads <br>
              7. Other standard consumables as recommended in the service book.
            </p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              What is excluded in maintenance?
              <span class="faq-mark"></span>
            </button>
            <p>
              1. Suspension function (as it depends upon the driver )
              <br>
              2. Before delivery of the car, PPP workshop department gives a range of kilometres after
              which clutch plate needs to be changed and if a subscriber uses the clutch in an anomalous
              way, relevant amount will be charged against the subscriber.<br>
              3. Alloy wheel cracking or tyre damage.<br>
              4. Consequential damage due to non-adherence to the shared service schedule.<br>
              5.Wear and tear (e.g. Premature replacement of consumables such as tyres, clutch plates,
              brake pads and discs etc.)<br>
              6.Major dents and scratches on the exterior are excluded in maintenance cover. Minor
              scratches that are considered normal are taken care of by us.<br>
              In all cases, we will assess such charges in a fair and transparent manner.
            </p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              What does limited warranty includes?
              <span class="faq-mark"></span>
            </button>
            <p>
              Engine, transmission, power steering, and cooling system
            </p>
          </accordion-group>
        </accordion>
      </tab>
      <tab heading="Swap/Upgrade/Buy"
        class="tab-body ">
        <accordion>
          <accordion-group>
            <button accordion-heading>
              Can I buy my Pumpumpum car?
              <span class="faq-mark"></span>
            </button>
            <p>Yes, you can. This is the beauty of pumpumpum’s subscription model. After your subscription
              period is over, you have the choice to buy this car at the prevailing market price of the
              car. Consider it a new way of settling for a car after getting to test drive for a long time
              while owning the car.
            </p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              Can I extend my tenure?
              <span class="faq-mark"></span>
            </button>
            <p>Tenure can be extended anytime during the subscription period. We suggest you do this at
              least a month before the scheduled end date of the subscription as the extension is subject
              to availability of the car.</p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              How does “swap/upgrade my car” work?
              <span class="faq-mark"></span>
            </button>
            <p>After your subscription period is over, besides buying you have the option of swapping the
              car with any other car in the same category or upgrade to a different category of cars. </p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              How do I return the car when my subscription is over?
              <span class="faq-mark"></span>
            </button>
            <p>You will be notified a week before the end of your subscription. After a detailed
              inspection by our experts, you will be guided through the further proceedings. Be assured
              for a hassle-free process throughout the journey.
            </p>
          </accordion-group>
        </accordion>
      </tab>
      <tab heading="Legalities"
        class="tab-body">
        <accordion>
          <accordion-group>
            <button accordion-heading>
              What happens if the vehicle is involved in any traffic violations such as parking/moving,
              driving without seat belts, driving on the wrong lane etc.?
              <span class="faq-mark"></span>
            </button>
            <p>For any accidents, traffic violations or any related issues, you will be responsible for
              the damage costs, legal fees (if any) and other related costs such as towing costs.
            </p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              What do I do if the vehicle breaks down or if I meet with an accident and what will be the
              maximum liability?
              <span class="faq-mark"></span>
            </button>
            <p>In such cases, please notify us immediately and we will guide you through the entire
              process. We have comprehensive insurance for our cars and the maximum liability will be the
              difference between the actual cost and the amount reimbursed by the insurance company
              against the claim. In case of a major accident, if the structural frame of the car is
              damaged which results in depreciation of the value of the car, the subscriber can either buy
              the car at market price or pay for the depreciation in the value of the car.</p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              What if the car gets stolen?
              <span class="faq-mark"></span>
            </button>
            <p>Immediately notify the theft to us, so that we can help you locate the car. Make sure to
              notify the theft at the nearest police station and lodge an FIR. Detail T&C will be
              mentioned in the agreement between the subscriber and pumpumpum.
            </p>
          </accordion-group>
        </accordion>

      </tab>
      <tab heading="Exchange/Return/Refund"
        class="tab-body">
        <accordion>
          <accordion-group>
            <button accordion-heading>
              Can I return the car if I change my mind?
              <span class="faq-mark"></span>
            </button>
            <p>The best part of our service is that it comes with a 3-day return/exchange policy. If a
              subscriber discovers some issue with the car, he/she can list down the problems and we will
              get it fixed within a very short period. And if the subscriber is totally unsatisfied with
              the car, the subscriber can opt for a return or exchange. We have a 3-day/100km cancellation
              policy that begins when you sign your agreement. </p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              When will I get my refundable security deposit back?
              <span class="faq-mark"></span>
            </button>
            <p>We will return your refundable security deposit within 10 days after the end of your
              subscription, after adjusting any deductibles (e.g. for fuel, penalties, etc.). In case your
              liability exceeds the amount of the refundable security deposit, then we will request you to
              make the balance payment within 1 day of receiving the intimation from our side. Any delays
              in payments will attract a penalty of INR 500 per day.
            </p>
          </accordion-group>
        </accordion>
        <accordion>
          <accordion-group>
            <button accordion-heading>
              What if I return my car in the middle of a monthly billing cycle?
              <span class="faq-mark"></span>
            </button>
            <p>The minimum lock-in period depends on the category of the car and the period for which it
              is subscribed. Let's suppose an individual subscribes to a car for 9 months and the car has
              a lock-in period of 6 months. If he/she wants to return the car in just 3 months, then
              he/she has to pay for the remaining lock-in period left, i.e, for 3 months added to the
              difference between the cost of monthly subscription for 9 months and 6 months ( as
              subscription cost reduces for longer duration).
            </p>
          </accordion-group>
        </accordion>
      </tab>
    </tabset>
  </div>
</section>
