<section class="static-banner"></section>
<section class="static-section">
  <div class="container static-container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="static-section-content">
          <h1>Privacy <span>Policy</span></h1>
          <p>
            Privacy Policy We at Dream Road Technologies Private Limited
            (“etonbikes” or the “Company”) firmly believes in the highest
            standards of integrity in relation to information provided by our
            customers when they use its Services and otherwise. This policy
            describes:
          </p>
          <ul>
            <li>
              the types of information that we may collect from you when you
              access or use our website or applications or any other online
              services (collectively, our "Services"); and
            </li>
            <li>
              our practices for collecting, using, maintaining, protecting and
              disclosing that information.
            </li>
          </ul>
          <p>
            This policy applies only to information we collect through our
            Services, in email, text and other electronic communications sent
            through or in connection with our Services.
          </p>
          <p>
            Please read this policy carefully to understand our policies and
            practices regarding your information and how we will treat it. If
            you do not agree with our policies and practices, your choice is not
            to use our Services. By accessing or using our Services, you agree
            to this privacy policy. This policy may change from time to time,
            your continued use of our Services after we make changes is deemed
            to be acceptance of those changes, so please check the policy
            periodically for updates.
          </p>
          <p>
            <span><b>The information we collect and how we use it </b></span>
          </p>
          <p>
            We collect several types of information from and about users of our
            Services, including information:
          </p>
          <ul>
            <li>by which you may be personally identified; and/or</li>
            <li>
              about your internet connection, the equipment you use to access
              our Services and your usage details.
            </li>
          </ul>
          <p>We collect this information:</p>
          <ul>
            <li>directly from you when you provide it to us; and/or</li>
            <li>
              automatically as you navigate through our Services (information
              collected automatically may include usage details, IP addresses
              and information collected through cookies, web beacons and other
              tracking technologies).
            </li>
          </ul>
          <p><b>Information you provide to us</b></p>
          <p>
            The information we collect on or through our Services may include:
          </p>
          <ul>
            <li>
              <b>Your account information:</b> Your full name, email address,
              postal code, password and other information you may provide with
              your account, such as your name, mobile phone number and e-mail
              id.
            </li>
            <li>
              <b>Your content:</b> Information you provide through our Services,
              including your asset details, company details etc, and other
              information in your account profile.
            </li>
          </ul>
          <p>
            <b
              >Information we collect through automatic data collection
              technologies
            </b>
          </p>
          <p>
            We may automatically collect certain information about the computer
            or devices (including mobile devices) you use to access the
            Services, and about your use of the Services, even if you use the
            Services without registering or logging in.
          </p>
          <ul>
            <li>
              <b>Usage information:</b> Details of your use of our Services,
              including traffic data, location data, logs and other
              communication data and the resources that you access and use on or
              through our Services.
            </li>
            <li>
              <b>Computer and device information:</b> Information about your
              computer, Internet connection and mobile device, including your IP
              address, operating systems, platforms, browser type, other
              browsing information (connection, speed, connection type etc.),
              device type, device’s unique device identifier, mobile network
              information and the device’s telephone number.
            </li>
            <li>
              <b>Your activity on the Services:</b> Information about your
              activity on the Services, such as your search queries, comments,
              domain names, search results selected, number of clicks, pages
              viewed and the order of those pages, how long you visited our
              Services, the date and time you used the Services, error logs, and
              other similar information.
            </li>
          </ul>
          <p><b> Anonymous or De-Identified Data </b></p>
          <p>
            We may anonymize and/or de-identify information collected from you
            through the Services or via other means, including via the use of
            third-party web analytic tools as described below. As a result, our
            use and disclosure of aggregated and/or de-identified information is
            not restricted by this Privacy Policy, and it may be used and
            disclosed to others without limitation.
          </p>
          <p>
            <span><b>II. How we use the information we collect </b></span>
          </p>
          <p>
            We use the information we collect from and about you for a variety
            of purposes, including to:
          </p>
          <ul>
            <li>Process and respond to your queries</li>
            <li>
              Understand our users (what they do on our Services, what features
              they like, how they use them, etc.), improve the content and
              features of our Services (such as by personalizing content to your
              interests), process and complete your transactions, and make
              special offers.
            </li>
            <li>Administer our Services and diagnose technical problems.</li>
            <li>
              Send you communications that you have requested or that may be of
              interest to you by way of emails, or courier, or registered post,
              or telephone calls, or any other mode of communication.
            </li>
            <li>Enable us to show you ads that are relevant to you.</li>
            <li>
              Carry out our obligations and enforce our rights arising from any
              contracts entered into between you and us, including for billing
              and collection.
            </li>
            <li>Notify you about changes to our Services.</li>
            <li>For any other purpose with your consent.</li>
          </ul>
          <p>
            <span><b>III. How we share the information we collect</b></span>
          </p>
          <p>
            We may disclose personal information that we collect or you provide,
            as described in this privacy policy, in the following ways:
          </p>
          <p><b>General Information Disclosures</b></p>
          <ul>
            <li>
              To contractors, service providers and other third-parties whom we
              use to support our business and who are bound by contractual
              obligations to keep personal information confidential and use it
              only for the purposes for which we disclose it to them.
            </li>

            <li>To fulfill the purpose for which you provide it.</li>
            <li>
              For any other purpose disclosed by us when you provide the
              information.
            </li>
            <li>
              <b>Legal Purposes</b> We may share your information when we
              believe in good faith that such sharing is reasonably necessary in
              order to investigate, prevent, or take action regarding possible
              illegal activities or to comply with legal process. We may also
              share your information to investigate and address threats or
              potential threats to the physical safety of any person, to
              investigate and address violations of this Privacy Policy or the
              Terms of Service, or to investigate and address violations of the
              rights of third parties and/or to protect the rights, property and
              safety of etonbikes, our employees, users, or the public. This may
              involve the sharing of your information with law enforcement,
              government agencies, courts, and/or other organizations on account
              of legal request such as subpoena, court order or government
              demand to comply with the law.
            </li>
            <li>
              If we believe disclosure is necessary or appropriate to protect
              the rights, property, or safety of etonbikes, our customers or
              others. This includes exchanging information with other companies
              and organizations for the purposes of fraud protection and credit
              risk reduction.
            </li>
            <li>
              <b>Consent.</b> We may share your information in any other
              circumstances where we have your consent.
            </li>
          </ul>
          <p>
            <span
              ><b
                >IV. Choices about how we use and disclose your information
              </b></span
            >
          </p>
          <p>
            We strive to provide you with choices regarding the personal
            information you provide to us. You can set your browser or mobile
            device to refuse all or some browser cookies, or to alert you when
            cookies are being sent. We do not share your personal information
            with any advertising agency.
          </p>
          <p>
            <span><b>V. Communications choices</b></span>
          </p>
          <p>
            When you sign up for an account, you are opting in to receive emails
            from other etonbikes users, businesses, and etonbikes itself.
          </p>
          <p>
            <span><b>VI. Reviewing, changing or deleting information</b></span>
          </p>
          <p>
            If you would like to review, change or delete personal information
            we have collected from you, or permanently delete your account,
            please use the “Contact Us” link.
          </p>
          <p>
            <span
              ><b
                >VII. Accessing & correcting your personal information</b
              ></span
            >
          </p>
          <p>
            We will take reasonable steps to accurately record the personal
            information that you provide to us and any subsequent updates.
          </p>
          <p>
            We encourage you to review, update, and correct the personal
            information that we maintain about you, and you may request that we
            delete personal information about you that is inaccurate,
            incomplete, or irrelevant for legitimate purposes, or are being
            processed in a way which infringes any applicable legal requirement.
          </p>
          <p>
            Your right to review, update, correct, and delete your personal
            information may be limited, subject to the law of your jurisdiction:
            (i) if your requests are abusive or unreasonably excessive, (ii)
            where the rights or safety of another person or persons would be
            encroached upon, or (iii) if the information or material you request
            relates to existing or anticipated legal proceedings between you and
            us, or providing access to you would prejudice negotiations between
            us or an investigation of possible unlawful activity. Your right to
            review, update, correct, and delete your information is subject to
            our records retention policies and applicable law, including any
            statutory retention requirements.
          </p>
          <p>
            <span><b>VIII. Security: How we protect your information</b></span>
          </p>
          <p>
            We have implemented appropriate physical, electronic, and managerial
            procedures to safeguard and help prevent unauthorized access to your
            information and to maintain data security. These safeguards take
            into account the sensitivity of the information that we collect,
            process and store and the current state of technology. We follow
            generally accepted industry standards to protect the personal
            information submitted to us. Therefore, while we strive to use
            commercially acceptable means to protect your personal information,
            we cannot guarantee its absolute security and thereby usage in a
            manner that is inconsistent with this Privacy Policy.
          </p>
          <p>
            We assume no liability or responsibility for disclosure of your
            information due to errors in transmission, unauthorized third-party
            access, or other causes beyond our control. You play an important
            role in keeping your personal information secure. You should not
            share your user name, password, or other security information for
            your etonbikes account with anyone. If we receive instructions using
            your user name and password, we will consider that you have
            authorized the instructions.
          </p>
          <p>
            <span><b>IX. Third party links and services</b></span>
          </p>
          <p>
            The Services may contain links to third-party websites. Your use of
            these features may result in the collection, processing or sharing
            of information about you, depending on the feature. Please be aware
            that we are not responsible for the content or privacy practices of
            other websites or services which may be linked on our services. We
            do not endorse or make any representations about third-party
            websites or services. Our Privacy Policy does not cover the
            information you choose to provide to or that is collected by these
            third parties. We strongly encourage you to read such third parties’
            privacy policies.
          </p>
          <p>
            <span><b>X. Changes to this privacy policy</b></span>
          </p>
          <p>
            We reserve the right to amend this Privacy Policy from time to time
            to reflect changes in the law, our data collection and use
            practices, the features of our services, or advances in technology.
            Please check this page periodically for changes. Use of information
            we collect is subject to the Privacy Policy in effect at the time
            such information is used. If we make any material changes to this
            Privacy Policy, we will post the changes here. Please review the
            changes carefully. Your continued use of the Services following the
            posting of changes to this Privacy Policy will constitute your
            consent and acceptance of those changes.
          </p>
          <p>
            <span><b>XI. Contact us</b></span>
          </p>
          <p>
            If you have any queries relating to the processing/usage of
            information provided by you or etonbikes’s Privacy Policy, you may
            email us at [•] support@etonbikes.com
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
