<section class="contact-us-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 p-0 d-none d-lg-block">
        <address>
          <img style="max-width: 340px;display: inline-block;" src="/assets/images/default/eton-white.png" />
          <!-- <h2>CoFynd Infotech Pvt. Ltd.<br>
            Landmark Cyber Park,<br>
            Sector 67, Gurugram, Haryana</h2> -->
        </address>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="contact-form">

          <div *ngIf="showSuccessMessage" class="success-box">
            <!-- <app-check-mark-circle></app-check-mark-circle> -->
            <h6>Hi! {{ contactUserName }}</h6>
            <h3>Thank You for Your Query</h3>
            <p>Your request has been initiated and
              a Eton executive will contact you
              shortly for further details.</p>
            <a routerLink="/coworking">Search More Spaces</a>
          </div>

          <form *ngIf="!showSuccessMessage" class="form" [formGroup]="contactForm" appScrollToInvalidField
            (ngSubmit)="onSubmit()">

            <h1>Connect with Eton</h1>

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name*" formControlName="name">
              <app-input-validation [control]="contactForm.controls.name"></app-input-validation>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email*" formControlName="email">
              <app-input-validation [control]="contactForm.controls.email"></app-input-validation>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Phone Number*" formControlName="phone_number">
              <app-input-validation [control]="contactForm.controls.phone_number"></app-input-validation>
            </div>

            <div class="form-group">
              <textarea type="text" class="form-control" placeholder="Your Query" formControlName="message"></textarea>
              <app-input-validation [control]="contactForm.controls.message"></app-input-validation>
            </div>

            <button type="submit" class="btn btn-primary btn-block">
              Submit
            </button>

            <div class="contact-footer">
              <div>
                <i class="icon-phone"></i>
                <a [href]="'tel:' + contactInfo.phone">{{ contactInfo.phone }}</a>
              </div>
              <div>
                <i class="icon-email"></i>
                <a [href]="'mailto:' + contactInfo.email">{{ contactInfo.email }}</a>
              </div>
            </div>
            <p class="cofynd-tag">Eton, <span>Possibilities are Infinite</span>&nbsp;<small>&infin;</small></p>

          </form>

        </div>
      </div>
    </div>
  </div>
</section>
