<div id="overview" class="frame-section frame-section--overview">

  <section class="product-intro product-intro__frame">
    <div class="product-intro__wrapper l-wrapper clearfix">

      <h2 class="product-intro__slug" [innerHTML]="overview.title"></h2>
      <div class="product-intro__text">
        <div class="product-intro__text-copy">
          <div class="text-editor" [innerHTML]="overview.description">
          </div>
        </div>
      </div>

      <div class="features-list features-list__items--product product-intro__features">
        <h3 class="features-list__title">Key Features:</h3>

        <ul class="features-list__items" *ngFor="let feature of overview.features">
          <li class="features-list__item">
            <span class="features-list__item-label">{{feature.key}}:</span>
            <span class="features-lsit__item-value">
              {{feature.value}} <a class="tool-tip">More Info</a>
            </span>
          </li>
        </ul>

      </div>
    </div>
  </section>

  <!-- TODO Image open section -->
  <section class="frame-overview-imagery">
    <div class="frame-detail-images__wrapper l-wrapper js-tabset">
      <header class="frame-detail-images__header">
        <h1 class="frame-detail-images__title">Galary</h1>
      </header>
      <div class="l-wrapper">
        <div class="gallery gallery--frame gallery--frame-overview gallery--items-5">
          <div class="gallery__item gallery-trigger lazypreload lazyloaded"
            *ngFor="let image of overview.long_shot_media; let i = index;"
            [style.background-image]="'url(&quot;' + path+image.media_link + '&quot;)'"
            (click)="showFullImage(image, i)">
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Advertisement -->
  <!-- <section id="panel--3441"
    class="media-panel media-panel--vh-default  media-panel--space-none media-panel--full-bg media-panel--text-first ">
    <div class="media-panel__wrapper">
      <div class="media-panel__image"
        style="background-image:url(/assets/img/panel/reserve-product-page-hero-short.jpg);">
        <img data-src="/assets/img/panel/reserve-product-page-hero-short.jpg" class="lazyload" width="2300" height="950"
          alt="Eton Bicycles" title="Reserve DH 27.5"> </div>
      <div class="media-panel__text-wrapper">
        <div class="media-panel__text-inner">
          <h4 class="media-panel__title">Reserve DH Wheels
          </h4>
          <div class="media-panel__text text-editor">
            <p>A rim that’s proved its mettle, Reserve DH is now available in a
              27.5- and 29-inch wheel size.</p>
          </div>
          <a href="https://www.reservewheels.com/reserve-dh-mountain-wheel" class="btn-primary">See Reserve</a>
        </div>
      </div>
    </div>
  </section> -->

</div>
