<div id="overview" class="frame-section frame-section--overview">

  <section class="product-intro product-intro__frame">
    <div class="product-intro__wrapper l-wrapper clearfix">

      <h2 class="product-intro__slug">Puzzling Ain’t Easy</h2>
      <div class="product-intro__text">
        <div class="product-intro__text-copy">
          <div class="text-editor">
            <p>The V10 is designed to be exactly the right bike for anyone who steps
              up to the startline with eyes on a podium. The racer who chooses a
              V10 is the recipient of every bit of work and puzzling that’s gone
              into the Syndicate’s race bikes.</p>
            <p>The continuous fine-tuning that the V10 has undergone with the
              Syndicate for World Cup season after season has guaranteed regular,
              high-level feedback. The result is perhaps the most refined
              suspension performance available outside of a World Cup pit. 215mm
              of VPP™ travel is exquisitely refined and the ease of tuning and
              serviceability of the VPP system makes it a hit in the pits with
              mechanics and privateers.</p>
            <p><a href="https://www.etonbicycles.com/news/2020-mtb-wheel-size">Wheel
                size has been the latest puzzle to ponder</a>. Greg Minnaar,
              being a tall and looking for pure speed on the clock, focuses his
              choice on 29-inch wheels. Loris Vergier, shorter in stature but
              similarly looking for efficiency has chosen <a
                href="https://www.etonbicycles.com/news/2020-syndicate-mixed-wheel-v10">a
                mixed wheel setup (29-inch front and 27.5-inch rear)</a>. Luca
              Shaw chose what feels fun because to him if he’s having fun he’s
              going fast, so he’s also on a mixed setup.</p>
            <p>Because there’s so many flavours and needs we offer the V10 in 27.5
              (front and rear) in the smallest size&nbsp;up to a size large, both
              29-inch (front and rear) and mixed in medium and large frame sizes,
              and 29-inch only&nbsp;for the XL frame size. So your V10 is
              optimized for who you are.</p>
            <p>The most successful bike in downhill history shows no signs of
              slowing down.</p>
            <p>&nbsp;</p>
            <p><em>Additional details for the realest puzzlers:</em></p>
            <ul>
              <li>Adjustable chainstay length to optimize front/rear balance</li>
              <li>Lower leverage rate for optimal shock performance</li>
              <li>Internal derailleur cable routing on swingarm to protect housing
                from chain damage</li>
            </ul>
            <p>&nbsp;</p>
            <p><em>Still looking?</em></p>
            <ul>
              <li>Want a long-travel 29er rather than a DH bike? <a
                  href="https://www.etonbicycles.com/megatower">Megatower
                  is the answer.</a></li>
              <li>Looking for some aftermarket DH wheels? <a
                  href="https://www.reservewheels.com/reserve-dh-mountain-wheel" target="_blank">The Reserve
                  Carbon DH</a> is what you need.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="features-list features-list__items--product product-intro__features">
        <h3 class="features-list__title">Key Features:</h3>

        <ul class="features-list__items">
          <li class="features-list__item">
            <span class="features-list__item-label">Available in:</span>
            <span class="features-lsit__item-value">
              Carbon CC <a class="tool-tip">More Info</a>
            </span>
          </li>
          <li class="features-list__item">
            <span class="features-list__item-label">Wheel size:</span>
            <span class="features-lsit__item-value">
              <div class="field_finder_wheelsize">27.5", MX (Mixed), 29"</div>
            </span>
          </li>
          <li class="features-list__item">
            <span class="features-list__item-label">Rear travel:</span>
            <span class="features-lsit__item-value">
              215mm </span>
          </li>


          <li class="features-list__item">
            <span class="features-list__item-label">Priced from</span>
            <span class="features-lsit__item-value">$5999 (MSRP)</span>
          </li>
        </ul>

      </div>
    </div>
  </section>


  <div id="file-14635--2" class="file file-video file-video-youtube">
    <h2 class="element-invisible"><a href="/en-US/file/syndicate-mixed-opinions">The
        Syndicate - Mixed Opinions</a></h2>
    <div class="content">
      <div class="media-youtube-video media-youtube-2">
        <div class="u-video-wrapper" style="padding-bottom: 56.25%"><iframe class="media-youtube-player"
            title="The Syndicate - Mixed Opinions"
            src="https://www.youtube.com/embed/cFKpG89UYqE?wmode=opaque&amp;controls=&amp;rel=0&amp;showinfo=0&amp;theme=light&amp;autohide=1"
            name="The Syndicate - Mixed Opinions" frameborder="0" allowfullscreen="">Video of
            The Syndicate - Mixed Opinions</iframe>
        </div>
      </div>
    </div>
  </div>


  <!-- TODO Image open section -->
  <section class="frame-overview-imagery">
    <div class="l-wrapper">
      <div class="gallery gallery--frame gallery--frame-overview gallery--items-5">
        <div class="gallery__item gallery-trigger lazypreload lazyloaded" *ngFor="let image of images"
          [style.background-image]="'url(&quot;' + image + '&quot;)'">
        </div>
      </div>
    </div>
  </section>


  <!-- Advertisement -->
  <section id="panel--3441"
    class="media-panel media-panel--vh-default  media-panel--space-none media-panel--full-bg media-panel--text-first ">
    <div class="media-panel__wrapper">
      <div class="media-panel__image"
        style="background-image:url(/assets/img/panel/reserve-product-page-hero-short.jpg);">
        <img data-src="/assets/img/panel/reserve-product-page-hero-short.jpg" class="lazyload" width="2300" height="950"
          alt="Eton Bicycles" title="Reserve DH 27.5"> </div>
      <div class="media-panel__text-wrapper">
        <div class="media-panel__text-inner">
          <h4 class="media-panel__title">Reserve DH Wheels
          </h4>
          <div class="media-panel__text text-editor">
            <p>A rim that’s proved its mettle, Reserve DH is now available in a
              27.5- and 29-inch wheel size.</p>
          </div>
          <a href="https://www.reservewheels.com/reserve-dh-mountain-wheel" class="btn-primary">See Reserve</a>
        </div>
      </div>
    </div>
  </section>

</div>
