<div id="geometry" class="frame-section  frame-section--odd frame-section--geometry">
  <section class="geometry">
    <div class="geometry__wrapper l-wrapper">
      <div class="tabs geometry_size__toggles">
        <ul>
          <li *ngFor="let item of data; let i = index;"
            class="tabs__option geometry_size__toggle geometry_size__toggle-1" [ngClass]="getMainActiveClass(i)"
            data-toggle="i" (click)="viewMode = i">
            {{item.key}}"</li>
        </ul>
      </div>
      <header class="geometry__header">
        <h1 class="geometry__title">Geometry &amp; Sizing</h1>
        <p>Rollover table below to highlight frame dimensions.</p>
      </header>

      <aside class="geometry__toggles">
        <div class="toggle">
          <span class="toggle__label">Show: </span>
          <span class="toggle__option toggle__option--carbon_c measure-toggle measure-toggle--m" data-measure="m">
            <a class="toggle__option-link" href="#">mm</a>
          </span>
          <span
            class="toggle__option toggle__option--aluminium measure-toggle measure-toggle--i js-toggle__option--active"
            data-measure="i">
            <a class="toggle__option-link" href="#">in</a>
          </span>
        </div>
      </aside>
      <div class="geometry__records" [ngSwitch]="viewMode">
        <ng-container *ngFor="let item of data; let i = index;">
          <div class="geometry_size__record geometry_size-1 geometry_size--active" *ngSwitchCase="i">
            <div class="js-tabset tabset--geom">
              <div class="tabs">
                <ul>
                  <li class="js-tab-trigger tabs__option tabs__option--tab1"
                    [class.js-tabs__option--active]="viewModeInner1 == 'high'" rel="high"
                    (click)="viewModeInner1 ='high'"><a>High</a></li>
                  <li class="js-tab-trigger tabs__option tabs__option--tab2"
                    [class.js-tabs__option--active]="viewModeInner1 == 'low'" rel="low" (click)="viewModeInner1 ='low'">
                    <a>Low</a></li>
                </ul>
              </div>
              <div class="tab-content" [ngSwitch]="viewModeInner1">
                <div id="tab-geom--tab1" class="js-tab-target tab-content__item  tab-content__item--tab1"
                  *ngSwitchCase="'high'">
                  <div class="geometry-details">
                    <div class="geometry-detail__table">
                      <h2 class="geometry-table__title">High</h2>
                      <!-- <div class="geometry-table__notes">
                        <p>Flip chip in rear dropout has two positions:
                          short and long. Flipping the chip changes
                          chainstay and wheelbase length by 10mm.</p>
                      </div> -->
                      <table class="metric-imperial metric geometry-table__table">
                        <thead>
                          <tr>
                            <th></th>
                            <th></th>
                            <th>S</th>
                            <th>M</th>
                            <th>L</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let high of item.high; let j = index;">
                            <tr class="geom-table-row geom-table-row--reach odd" data-id="reach" (mouseover)="setActiveClass(high)">
                              <td class="geometry-table__item-icon"><span
                                  class="geom-table-icon geom-table-icon--A">{{ high.order}}</span>
                              </td>
                              <td class="label geometry-table__item-label">
                                {{high.key.name}}</td>
                              <td class="value geometry-table__item-value">
                                <span class="measure measure-m">{{high.small}}<i>"</i></span><span
                                  class="measure measure-i">16.22<i>"</i></span>
                              </td>
                              <td class="value geometry-table__item-value">
                                <span class="measure measure-m">{{high.medium}}<i>"</i></span><span
                                  class="measure measure-i">17.2<i>"</i></span>
                              </td>
                              <td class="value geometry-table__item-value">
                                <span class="measure measure-m">{{high.large}}<i>"</i></span><span
                                  class="measure measure-i">18.19<i>"</i></span>
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                    <div class="geometry-detail__image">
                      <app-geometry-image [overValue]="hoverValue"></app-geometry-image>
                    </div>
                  </div>
                </div>
                <div id="tab-geom--tab2" class="js-tab-target tab-content__item  tab-content__item--tab2"
                  *ngSwitchCase="'low'">
                  <div class="geometry-details">
                    <div class="geometry-detail__table">
                      <h2 class="geometry-table__title">Low</h2>
                      <div class="geometry-table__notes">
                        <!-- <p>Flip chip in rear dropout has two positions:
                          short and long. Flipping the chip changes
                          chainstay and wheelbase length by 10mm.</p> -->
                      </div>
                      <table class="metric-imperial metric geometry-table__table">
                        <thead>
                          <tr>
                            <th></th>
                            <th></th>
                            <th>S</th>
                            <th>M</th>
                            <th>L</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let low of item.low; let j = index; let odd=odd; let even=even;">
                            <tr class="geom-table-row geom-table-row--reach" [ngClass]="{odd:odd, even: even}"
                              data-id="reach">
                              <td class="geometry-table__item-icon"><span
                                  class="geom-table-icon geom-table-icon--A">{{ low.order}}</span>
                              </td>
                              <td class="label geometry-table__item-label">
                                {{low.key.name}}</td>
                              <td class="value geometry-table__item-value">
                                <span class="measure measure-m">{{low.small}}<i>"</i></span><span
                                  class="measure measure-i">16.14<i>"</i></span>
                              </td>
                              <td class="value geometry-table__item-value">
                                <span class="measure measure-m">{{low.medium}}<i>"</i></span><span
                                  class="measure measure-i">17.13<i>"</i></span>
                              </td>
                              <td class="value geometry-table__item-value">
                                <span class="measure measure-m">{{low.large}}<i>"</i></span><span
                                  class="measure measure-i">18.11<i>"</i></span>
                              </td>
                            </tr>
                          </ng-container>

                        </tbody>
                      </table>
                    </div>
                    <div class="geometry-detail__image">
                      <app-geometry-image></app-geometry-image>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div [ngSwitch]="viewMode" class="size_chart__wrapper">
        <ng-container *ngFor="let item of data; let i = index;">
          <div class="geometry__wrapper size_chart__wrapper" *ngSwitchCase="i">
            <header class="size_chart__header">
              <h3 class="builder-summary__heading"><span class="builder-summary-size">{{item.key}}"</span>
                Frame Sizing</h3>
            </header>

            <aside class="geometry__toggles">
              <div class="toggle">
                <span class="toggle__label">Show: </span>
                <span
                  class="toggle__option toggle__option--carbon_c measure-toggle measure-toggle--m measure-toggle--i js-toggle__option--active"
                  data-measure="m">
                  <a class="toggle__option-link" href="#">cm</a>
                </span>
                <span class="toggle__option toggle__option--aluminium measure-toggle " data-measure="i">
                  <a class="toggle__option-link" href="#">in</a>
                </span>
              </div>
            </aside>

            <div class="size_chart__records">
              <div class="geometry_size__record geometry_size-1 " [ngClass]="{'geometry_size--active': viewMode == i}">
                <div class="size-chart">
                  <ng-container *ngFor="let frame of item.frame_size; let k =  index;">
                    <div class="size-chart__size"><strong
                        class="label size-chart__line-label">{{frame.key === 'small' ? 'S' : frame.key === 'large' ? 'L' : 'M'}}</strong>
                      <div class="size-chart__line-contents">
                        <div class="size-chart__line-item" [ngStyle]="getFrameSizeStyle(frame)"
                          [attr.data-size]="frame.key">
                          <span class="num min measure measure-i">{{frame.from}}"</span>
                          <span class="num min measure measure-m">155</span><span class="divider">&nbsp;—&nbsp;</span>
                          <span class="num max measure measure-i">{{frame.to}}"</span><span
                            class="num max measure measure-m">168cm</span>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</div>
