<div class="geometry-table__interactive-image"><span
    class="geometry-table__interactive-layer geometry-table__interactive-layer--reach" [ngClass]="{'js-active': overValue === 'A'}"><img
      data-src="/assets/img/interactive/reach.png?new=true" class=" lazyloaded"
      alt="Geometry Illustration Layerreach"
      src="/assets/img/interactive/reach.png?new=true"></span><span [ngClass]="{'js-active': overValue === 'B'}"
    class="geometry-table__interactive-layer geometry-table__interactive-layer--stack"><img
      data-src="/assets/img/interactive/stack.png?new=true" class=" lazyloaded"
      alt="Geometry Illustration Layerstack"
      src="/assets/img/interactive/stack.png?new=true"></span><span
    class="geometry-table__interactive-layer geometry-table__interactive-layer--headtubean" [ngClass]="{'js-active': overValue === 'C'}"><img
      data-src="/assets/img/interactive/headtubean.png?new=true" class=" lazyloaded"
      alt="Geometry Illustration Layerheadtubean"
      src="/assets/img/interactive/headtubean.png?new=true"></span><span [ngClass]="{'js-active': overValue === 'D'}"
    class="geometry-table__interactive-layer geometry-table__interactive-layer--seattubelen"><img
      data-src="/assets/img/interactive/seattubelen.png?new=true" class=" lazyloaded"
      alt="Geometry Illustration Layerseattubelen"
      src="/assets/img/interactive/seattubelen.png?new=true"></span><span [ngClass]="{'js-active': overValue === 'E'}"
    class="geometry-table__interactive-layer geometry-table__interactive-layer--frontcenter"><img
      data-src="/assets/img/interactive/frontcenter.png?new=true" class=" lazyloaded"
      alt="Geometry Illustration Layerfrontcenter"
      src="/assets/img/interactive/frontcenter.png?new=true"></span><span [ngClass]="{'js-active': overValue === 'F'}"
    class="geometry-table__interactive-layer geometry-table__interactive-layer--bbheight"><img
      data-src="/assets/img/interactive/bbheight.png?new=true" class=" lazyloaded"
      alt="Geometry Illustration Layerbbheight"
      src="/assets/img/interactive/bbheight.png?new=true"></span><span [ngClass]="{'js-active': overValue === 'G'}"
    class="geometry-table__interactive-layer geometry-table__interactive-layer--bbdrop"><img
      data-src="/assets/img/interactive/bbdrop.png?new=true" class=" lazyloaded"
      alt="Geometry Illustration Layerbbdrop"
      src="/assets/img/interactive/bbdrop.png?new=true"></span><span [ngClass]="{'js-active': overValue === 'H'}"
    class="geometry-table__interactive-layer geometry-table__interactive-layer--wheelbase"><img
      data-src="/assets/img/interactive/wheelbase.png?new=true" class=" lazyloaded"
      alt="Geometry Illustration Layerwheelbase"
      src="/assets/img/interactive/wheelbase.png?new=true"></span><span [ngClass]="{'js-active': overValue === 'I'}"
    class="geometry-table__interactive-layer geometry-table__interactive-layer--chainstay"><img
      data-src="/assets/img/interactive/chainstay.png?new=true" class=" lazyloaded"
      alt="Geometry Illustration Layerchainstay"
      src="/assets/img/interactive/chainstay.png?new=true"></span><span [ngClass]="{'js-active': overValue === 'J'}"
    class="geometry-table__interactive-layer geometry-table__interactive-layer--headtubelen"><img
      data-src="/assets/img/interactive/headtubelen.png?new=true" class=" lazyloaded"
      alt="Geometry Illustration Layerheadtubelen"
      src="/assets/img/interactive/headtubelen.png?new=true"></span><span [ngClass]="{'js-active': overValue === 'K'}"
    class="geometry-table__interactive-layer geometry-table__interactive-layer--toptube"><img
      data-src="/assets/img/interactive/toptube.png?new=true" class=" lazyloaded"
      alt="Geometry Illustration Layertoptube"
      src="/assets/img/interactive/toptube.png?new=true"></span><span [ngClass]="{'js-active': overValue === 'L'}"
    class="geometry-table__interactive-layer geometry-table__interactive-layer--seattubean"><img
      data-src="/assets/img/interactive/seattubean.png?new=true" class=" lazyloaded"
      alt="Geometry Illustration Layerseattubean"
      src="/assets/img/interactive/seattubean.png?new=true"></span><span [ngClass]="{'js-active': overValue === 'M'}"
    class="geometry-table__interactive-layer geometry-table__interactive-layer--standover"><img
      data-src="/assets/img/interactive/standover.png?new=true" class=" lazyloaded"
      alt="Geometry Illustration Layerstandover"
      src="/assets/img/interactive/standover.png?new=true"></span><span [ngClass]="{'js-active': overValue === 'N'}"
    class="geometry-table__interactive-layer geometry-table__interactive-layer--eyetoeye"><img
      data-src="/assets/img/interactive/eyetoeye.png?new=true" class=" lazyloaded"
      alt="Geometry Illustration Layereyetoeye"
      src="/assets/img/interactive/eyetoeye.png?new=true"></span><span [ngClass]="{'js-active': overValue === 'O'}"
    class="geometry-table__interactive-layer geometry-table__interactive-layer--base"><img
      data-src="/assets/img/interactive/base.png?new=true" class=" lazyloaded"
      alt="Geometry Illustration Layerbase"
      src="/assets/img/interactive/base.png?new=true"></span>
</div>