/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@media (min-width: 1024px) {
  body {
    background-attachment: fixed;
  }
}

a {
  color: #ff0000;
}

a:hover {
  color: #ff3333;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#main {
  position: relative;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #fff5f5;
}

.section-title {
  text-align: center;
  padding-bottom: 15px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}

.section-title p {
  margin-bottom: 0;
}
