<main id="main" role="main">

  <div class="region region-content">

    <app-top-frame></app-top-frame>

    <div id="frame_page" class="tab-accordion-processed" (scroll)="onWindowScroll($event);">

      <section id="fixedTab" class="secondary-navigation fixedBottom">
        <div class="secondary-navigation__wrapper">
          <div class="secondary-navigation__items">
            <div class="secondary-navigation__title">
              <img data-src="/assets/img/bikepage_titles_0007_v10_0.png" class=" lazyloaded" width="1800" height="121"
                alt="Eton Bicycles" src="/assets/img/bikepage_titles_0007_v10_0.png">
            </div>
            <nav class="secondary-navigation__scroll-nav">
              <nav class="scroll-toggle">
                <ul>
                  <li class="scroll-toggle__option scroll-toggle__option--overview">
                    <a href="#overview" class="toggle__option-link">Overview</a>
                  </li>
                  <li class="scroll-toggle__option scroll-toggle__option--build">
                    <a href="#build_price" class="toggle__option-link">Build &amp;
                      Price</a>
                  </li>
                  <li class="scroll-toggle__option scroll-toggle__option--images">
                    <a href="#detail_images" class="toggle__option-link">Detail
                      Images</a>
                  </li>
                  <li class="scroll-toggle__option scroll-toggle__option--geometry">
                    <a href="#geometry" class="toggle__option-link">Geometry</a>
                  </li>
                  <li class="scroll-toggle__option scroll-toggle__option--support">
                    <a href="#tech_support" class="toggle__option-link">Tech Support</a>
                  </li>
                </ul>
              </nav>
            </nav>
            <div class="secondary-navigation__toggle">
              <svg id="nav-secondary-toggle" viewBox="0 0 612 612">
                <title>Secondary Navigation Toggle</title>
                <circle cx="139.091" cy="306" r="55.636"></circle>
                <circle cx="472.909" cy="306" r="55.636"></circle>
                <circle cx="306" cy="306" r="55.636"></circle>
              </svg>
            </div>
          </div>
        </div>
      </section>

      <!-- overview -->
      <app-overview *ngIf="productDetail" [overview]="productDetail">
      </app-overview>
      <!-- end #overview -->

      <!-- build_price -->
      <app-build-price *ngIf="buildSpecs" [builds]="buildSpecs"></app-build-price>
      <!-- end #build_price -->

      <!-- detail_images -->
      <app-detail-images></app-detail-images>
      <!-- end #detail_images -->

      <!-- geometry -->
      <app-geometry *ngIf="productDetail" [data]="productDetail.geometry"></app-geometry>
      <!-- end #geometry -->

      <!-- tech_support -->
      <app-tech-support *ngIf="productDetail" [techSupport]="productDetail.tech_support"></app-tech-support>
      <!-- end #tech_support -->
    </div>
  </div>
</main>
