<div id="detail_images" class="frame-section frame-section--even frame-section--detail_images">
  <section class="frame-detail-images frame-detail-images--frame">
    <div class="frame-detail-images__wrapper l-wrapper js-tabset">
      <header class="frame-detail-images__header">
        <h1 class="frame-detail-images__title">Up Close</h1>
      </header>


      <div class="frame-detail-images__contents">
        <div id="frame-detail-images--carbon"
          class="js-tab-target gallery gallery--frame gallery--frame-detail gallery--items-13">

          <div class="gallery__item gallery-trigger lazypreload lazyloaded" *ngFor="let image of images; let i = index;"
            [style.background-image]="'url(&quot;' + filePath+image.media_link + '&quot;)'" (click)="showFullImage(image, i)">
          </div>
          <!-- <div *ngFor="let image of _albums; let i=index">
            <img [src]="image.thumb" (click)="open(i)" />
          </div>          -->

        </div>
      </div>

    </div>
  </section>
</div>
