<div id="tab-warranty-reg" class="js-tab-target tab-target tab-content__item">
    <div class="frame-warranty-info">
      <script type="application/ld+json">
        {
          "@context": "http://www.schema.org",
          "@type": "WebPage",
          "url": "https://www.etonbicycles.com/en-US/warranty",
          "name": "Warranties"
        }

      </script>
      <article>
        <h1 class="hdr-one">Warranties</h1>
        <div class="text-editor">
          <h4 style="text-align: center;">&nbsp;</h4>
            {{data}}
        </div>
      </article>
    </div>
  </div>