<section class="static-banner"></section>
<section class="static-section">
  <div class="container static-container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="static-section-content">
          <h1>Refund <span>Policy</span></h1>
          <p>
            <span><b>
                Can I return items at the time of delivery?
              </b></span>
          </p>
          <p>
            We make sure all the cars are scratch-less and dent-less when they reach you without compromising on
            quality.
            There are a series of stringent quality checks that are undertaken before delivery. However, if you don’t
            like the products at the time of delivery, you can return the car - there will be no questions asked.
          </p>
          <p>If accepted by you or your representative (anyone receiving the order on your behalf) at the time of
            delivery, user is allowed to cancel the car subscription within 3 (three) days or before the Vehicle is
            driven for 100 Kms. A refund will be initiated post deducting service and handling charges
          </p>
          <p>
            <b>
              How would I get my refundable deposit back?
            </b>
          </p>
          <p>
            If a clean chit is provided based on the QC report and all your dues towards pumpumpm have been cleared, the
            whole amount of refundable deposit will be transferred to your linked account. The mode of payment would be
            NEFT & would be credited to the account within 7 working days. NEFT Details shared should be under the name
            of the customer on whose name the order was placed. In case the customer wants money in a different account,
            the requisite account details need to be communicated via email from the registered email id through which
            the order was placed. A written confirmation will also be required at the time of return pick up after which
            etonbikes will not be liable for further claims. Please make sure that the account details for the transfer
            are shared with etonbikes. In case of any damage, the products will undergo further inspection at
            etonbikes’s premises to ascertain the damage cost. This damage cost will then be mitigated from the
            refundable deposit paid by you. Read more about damage policy by clicking link.
          </p>
          <p>
            <b>
              What would happen if I terminate the agreement before lock-in period?
            </b>
          </p>
          <p>
            If you return the car in between the lock-in period then the penalty will be levied, which will be
            equivalent to the remaining number of months’ subscription fee of the lock-in period.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
