<!-- <h1>Pop up of bikes will be shown here!!!</h1> -->
<div class="nav-dropdown__display-container" id="nav-dropdown__bike_menu" *ngIf="popupDisplay" [ngClass]="popupDisplay ? 'js-nav-link--is-active' : ''">
    <div class="nav-header">
        <div class="nav-header__inner">
            <div class="nav-header__link"><a (click)="handleItemClick()" routerLink="#">See All Bikes</a></div>
            <div class="nav-header__close" (click)="closeBikes()">
                <svg id="close--small" viewBox="0 0 512 512">
                    <title>Close</title>
                    <polygon points="512 59.09 452.91 0 256 196.91 59.09 0 0 59.09 196.91 256 0 452.91 59.09 512 256 315.09 452.91 512 512 452.91 315.09 256 512 59.09"></polygon>
                  </svg>
            </div>
        </div>
    </div>
    <div class="nav-dropdown">
        <div class="l-wrapper">
            <div class="nav-dropdown__inner">

                <div class="nav-dropdown__bikes-wrapper">
                    <div class="nav-dropdown__bikes">

                        <ul class="bike-dd__list-category">
                            <li class="bike-dd__list-category--item">
                                <span class="bike-dd__list-category--title">27.5"</span>
                                <ul class="bike-dd__list-items">
                                    <li class="bike-dd__list-item">
                                        <div class="polaroid-horizontal">
                                            <a class="polaroid-horizontal__link"
                                                (click)="handleItemClick()" routerLink="/bike/detail/V10">
                                                <div class="polaroid-horizontal__image">
                                                    <picture>
                                                        <source
                                                            data-srcset="/assets/img/thumbs/my21_thumb_0000_my21_v10_mx_xo1.jpg"
                                                            media="(min-width: 0px)"><img
                                                            data-src="/assets/img/thumbs/my21_thumb_0000_my21_v10_mx_xo1.jpg"
                                                            class="lazyload" alt="Eton Image"
                                                            title=""></picture>
                                                </div>
                                                <div class="polaroid-horizontal__text-container">
                                                    <h2 class="polaroid-horizontal__title">V10</h2>
                                                    <div class="polaroid-horizontal__text">
                                                        <dl>
                                                            <dd class="polaroid-horizontal__travel">
                                                                215mm</dd>
                                                            <dd class="polaroid-horizontal__size">27.5",
                                                                MX (Mixed), 29"</dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="bike-dd__list-item">
                                        <div class="polaroid-horizontal">
                                            <a class="polaroid-horizontal__link"
                                            (click)="handleItemClick()" routerLink="/bike/detail/Nomad">
                                                <div class="polaroid-horizontal__image">
                                                    <picture>
                                                        <source
                                                            data-srcset="/assets/img/thumbs/nomad_updated_thumb.jpg"
                                                            media="(min-width: 0px)"><img
                                                            data-src="/assets/img/thumbs/nomad_updated_thumb.jpg"
                                                            class="lazyload" alt="Eton Image"
                                                            title=""></picture>
                                                </div>
                                                <div class="polaroid-horizontal__text-container">
                                                    <h2 class="polaroid-horizontal__title">Nomad</h2>
                                                    <div class="polaroid-horizontal__text">
                                                        <dl>
                                                            <dd class="polaroid-horizontal__travel">
                                                                170mm</dd>
                                                            <dd class="polaroid-horizontal__size">27.5"
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="bike-dd__list-item">
                                        <div class="polaroid-horizontal">
                                            <a class="polaroid-horizontal__link"
                                            (click)="handleItemClick()" routerLink="/bike/detail/Heckler">
                                                <div class="polaroid-horizontal__image">
                                                    <picture>
                                                        <source
                                                            data-srcset="/assets/img/thumbs/my21_thumb_0010_my21_heckler_1.0_cc_xo1_rsv_blackout.jpg"
                                                            media="(min-width: 0px)"><img
                                                            data-src="/assets/img/thumbs/my21_thumb_0010_my21_heckler_1.0_cc_xo1_rsv_blackout.jpg"
                                                            class="lazyload" alt="Eton Image"
                                                            title=""></picture>
                                                </div>
                                                <div class="polaroid-horizontal__text-container">
                                                    <h2 class="polaroid-horizontal__title">Heckler</h2>
                                                    <div class="polaroid-horizontal__text">
                                                        <dl>
                                                            <dd class="polaroid-horizontal__travel">
                                                                150mm</dd>
                                                            <dd class="polaroid-horizontal__size">27.5"
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="bike-dd__list-item">
                                        <div class="polaroid-horizontal">
                                            <a class="polaroid-horizontal__link"
                                            (click)="handleItemClick()" routerLink="/bike/detail/Bronson">
                                                <div class="polaroid-horizontal__image">
                                                    <picture>
                                                        <source
                                                            data-srcset="/assets/img/thumbs/my21_thumb_0014_my21_bronson_cc_xo1_rsv_beef.jpg"
                                                            media="(min-width: 0px)"><img
                                                            data-src="/assets/img/thumbs/my21_thumb_0014_my21_bronson_cc_xo1_rsv_beef.jpg"
                                                            class="lazyload" alt="Eton Image"
                                                            title=""></picture>
                                                </div>
                                                <div class="polaroid-horizontal__text-container">
                                                    <h2 class="polaroid-horizontal__title">Bronson</h2>
                                                    <div class="polaroid-horizontal__text">
                                                        <dl>
                                                            <dd class="polaroid-horizontal__travel">
                                                                150mm</dd>
                                                            <dd class="polaroid-horizontal__size">27.5"
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="bike-dd__list-item">
                                        <div class="polaroid-horizontal">
                                            <a class="polaroid-horizontal__link"
                                            (click)="handleItemClick()" routerLink="/bike/detail/5010">
                                                <div class="polaroid-horizontal__image">
                                                    <picture>
                                                        <source
                                                            data-srcset="/assets/img/thumbs/scb_thumbnail_5010_aqua.jpg"
                                                            media="(min-width: 0px)"><img
                                                            data-src="/assets/img/thumbs/scb_thumbnail_5010_aqua.jpg"
                                                            class="lazyload" alt="Eton Image"
                                                            title=""></picture>
                                                </div>
                                                <div class="polaroid-horizontal__text-container">
                                                    <h2 class="polaroid-horizontal__title">5010</h2>
                                                    <div class="polaroid-horizontal__text">
                                                        <dl>
                                                            <dd class="polaroid-horizontal__travel">
                                                                130mm</dd>
                                                            <dd class="polaroid-horizontal__size">27.5"
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="bike-dd__list-category--item">
                                <span class="bike-dd__list-category--title">29"</span>
                                <ul class="bike-dd__list-items">
                                    <li class="bike-dd__list-item">
                                        <div class="polaroid-horizontal">
                                            <a class="polaroid-horizontal__link"
                                                (click)="handleItemClick()" routerLink="/bike/detail/V10">
                                                <div class="polaroid-horizontal__image">
                                                    <picture>
                                                        <source
                                                            data-srcset="/assets/img/thumbs/my21_thumb_0000_my21_v10_mx_xo1.jpg"
                                                            media="(min-width: 0px)"><img
                                                            data-src="/assets/img/thumbs/my21_thumb_0000_my21_v10_mx_xo1.jpg"
                                                            class="lazyload" alt="Eton Image"
                                                            title=""></picture>
                                                </div>
                                                <div class="polaroid-horizontal__text-container">
                                                    <h2 class="polaroid-horizontal__title">V10</h2>
                                                    <div class="polaroid-horizontal__text">
                                                        <dl>
                                                            <dd class="polaroid-horizontal__travel">
                                                                215mm</dd>
                                                            <dd class="polaroid-horizontal__size">27.5",
                                                                MX (Mixed), 29"</dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="bike-dd__list-item">
                                        <div class="polaroid-horizontal">
                                            <a class="polaroid-horizontal__link"
                                            (click)="handleItemClick()" routerLink="/bike/detail/Megatower">
                                                <div class="polaroid-horizontal__image">
                                                    <picture>
                                                        <source
                                                            data-srcset="/assets/img/thumbs/scb_mega_storm_thumb.jpg"
                                                            media="(min-width: 0px)"><img
                                                            data-src="/assets/img/thumbs/scb_mega_storm_thumb.jpg"
                                                            class="lazyload" alt="Eton Image"
                                                            title=""></picture>
                                                </div>
                                                <div class="polaroid-horizontal__text-container">
                                                    <h2 class="polaroid-horizontal__title">Megatower
                                                    </h2>
                                                    <div class="polaroid-horizontal__text">
                                                        <dl>
                                                            <dd class="polaroid-horizontal__travel">
                                                                160mm</dd>
                                                            <dd class="polaroid-horizontal__size">29"
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="bike-dd__list-item">
                                        <div class="polaroid-horizontal">
                                            <a class="polaroid-horizontal__link"
                                            (click)="handleItemClick()" routerLink="/bike/detail/Hightower">
                                                <div class="polaroid-horizontal__image">
                                                    <picture>
                                                        <source
                                                            data-srcset="/assets/img/thumbs/my21_thumb_0007_my21_hightower_cc_xx1_rsv_grey.jpg"
                                                            media="(min-width: 0px)"><img
                                                            data-src="/assets/img/thumbs/my21_thumb_0007_my21_hightower_cc_xx1_rsv_grey.jpg"
                                                            class="lazyload" alt="Eton Image"
                                                            title=""></picture>
                                                </div>
                                                <div class="polaroid-horizontal__text-container">
                                                    <h2 class="polaroid-horizontal__title">Hightower
                                                    </h2>
                                                    <div class="polaroid-horizontal__text">
                                                        <dl>
                                                            <dd class="polaroid-horizontal__travel">
                                                                140mm</dd>
                                                            <dd class="polaroid-horizontal__size">29"
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="bike-dd__list-item">
                                        <div class="polaroid-horizontal">
                                            <a class="polaroid-horizontal__link"
                                            (click)="handleItemClick()" routerLink="/bike/detail/Tallboy">
                                                <div class="polaroid-horizontal__image">
                                                    <picture>
                                                        <source
                                                            data-srcset="/assets/img/thumbs/my21_thumb_0004_my21_tallboy_cc_xx1_rsv_ivory.jpg"
                                                            media="(min-width: 0px)"><img
                                                            data-src="/assets/img/thumbs/my21_thumb_0004_my21_tallboy_cc_xx1_rsv_ivory.jpg"
                                                            class="lazyload" alt="Eton Image"
                                                            title=""></picture>
                                                </div>
                                                <div class="polaroid-horizontal__text-container">
                                                    <h2 class="polaroid-horizontal__title">Tallboy</h2>
                                                    <div class="polaroid-horizontal__text">
                                                        <dl>
                                                            <dd class="polaroid-horizontal__travel">
                                                                120mm</dd>
                                                            <dd class="polaroid-horizontal__size">29"
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="bike-dd__list-item">
                                        <div class="polaroid-horizontal">
                                            <a class="polaroid-horizontal__link"
                                                (click)="handleItemClick()" routerLink="#">
                                                <div class="polaroid-horizontal__image">
                                                    <picture>
                                                        <source
                                                            data-srcset="/assets/img/thumbs/my21_thumb_0016_my21_blur_cc_xx1_rsv_aqua.jpg"
                                                            media="(min-width: 0px)"><img
                                                            data-src="/assets/img/thumbs/my21_thumb_0016_my21_blur_cc_xx1_rsv_aqua.jpg"
                                                            class="lazyload" alt="Eton Image"
                                                            title=""></picture>
                                                </div>
                                                <div class="polaroid-horizontal__text-container">
                                                    <h2 class="polaroid-horizontal__title">Blur</h2>
                                                    <div class="polaroid-horizontal__text">
                                                        <dl>
                                                            <dd class="polaroid-horizontal__travel">
                                                                100mm</dd>
                                                            <dd class="polaroid-horizontal__size">29"
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="bike-dd__list-item">
                                        <div class="polaroid-horizontal">
                                            <a class="polaroid-horizontal__link"
                                                (click)="handleItemClick()" routerLink="#">
                                                <div class="polaroid-horizontal__image">
                                                    <picture>
                                                        <source
                                                            data-srcset="/assets/img/thumbs/my21_thumb_0009_my21_highball_cc_xo1_rsv_ember.jpg"
                                                            media="(min-width: 0px)"><img
                                                            data-src="/assets/img/thumbs/my21_thumb_0009_my21_highball_cc_xo1_rsv_ember.jpg"
                                                            class="lazyload" alt="Eton Image"
                                                            title=""></picture>
                                                </div>
                                                <div class="polaroid-horizontal__text-container">
                                                    <h2 class="polaroid-horizontal__title">Highball</h2>
                                                    <div class="polaroid-horizontal__text">
                                                        <dl>
                                                            <dd class="polaroid-horizontal__travel">
                                                                Hardtail</dd>
                                                            <dd class="polaroid-horizontal__size">29"
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="bike-dd__list-item">
                                        <div class="polaroid-horizontal">
                                            <a class="polaroid-horizontal__link"
                                                (click)="handleItemClick()" routerLink="#">
                                                <div class="polaroid-horizontal__image">
                                                    <picture>
                                                        <source
                                                            data-srcset="/assets/img/thumbs/my21_thumb_0013_my21_chameleon_al_r_29_fog.jpg"
                                                            media="(min-width: 0px)"><img
                                                            data-src="/assets/img/thumbs/my21_thumb_0013_my21_chameleon_al_r_29_fog.jpg"
                                                            class="lazyload" alt="Eton Image"
                                                            title=""></picture>
                                                </div>
                                                <div class="polaroid-horizontal__text-container">
                                                    <h2 class="polaroid-horizontal__title">Chameleon
                                                    </h2>
                                                    <div class="polaroid-horizontal__text">
                                                        <dl>
                                                            <dd class="polaroid-horizontal__travel">
                                                                Hardtail</dd>
                                                            <dd class="polaroid-horizontal__size">29",
                                                                27.5" plus</dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="bike-dd__list-category--item">
                                <span class="bike-dd__list-category--title">Mixed Wheels</span>
                                <ul class="bike-dd__list-items">
                                    <li class="bike-dd__list-item">
                                        <div class="polaroid-horizontal">
                                            <a class="polaroid-horizontal__link"
                                                (click)="handleItemClick()" routerLink="#">
                                                <div class="polaroid-horizontal__image">
                                                    <picture>
                                                        <source
                                                            data-srcset="/assets/img/thumbs/my21_thumb_0000_my21_v10_mx_xo1.jpg"
                                                            media="(min-width: 0px)"><img
                                                            data-src="/assets/img/thumbs/my21_thumb_0000_my21_v10_mx_xo1.jpg"
                                                            class="lazyload" alt="Eton Image"
                                                            title=""></picture>
                                                </div>
                                                <div class="polaroid-horizontal__text-container">
                                                    <h2 class="polaroid-horizontal__title">V10</h2>
                                                    <div class="polaroid-horizontal__text">
                                                        <dl>
                                                            <dd class="polaroid-horizontal__travel">
                                                                215mm</dd>
                                                            <dd class="polaroid-horizontal__size">27.5",
                                                                MX (Mixed), 29"</dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                <span class="bike-dd__list-category--title">700c / 650b / 26"</span>
                                <ul class="bike-dd__list-items">
                                    <li class="bike-dd__list-item">
                                        <div class="polaroid-horizontal">
                                            <a class="polaroid-horizontal__link"
                                                (click)="handleItemClick()" routerLink="#">
                                                <div class="polaroid-horizontal__image">
                                                    <picture>
                                                        <source
                                                            data-srcset="/assets/img/thumbs/my21_thumb_0005_my21_stigmata_cc_rival_blue.jpg"
                                                            media="(min-width: 0px)"><img
                                                            data-src="/assets/img/thumbs/my21_thumb_0005_my21_stigmata_cc_rival_blue.jpg"
                                                            class="lazyload" alt="Eton Image"
                                                            title=""></picture>
                                                </div>
                                                <div class="polaroid-horizontal__text-container">
                                                    <h2 class="polaroid-horizontal__title">Stigmata</h2>
                                                    <div class="polaroid-horizontal__text">
                                                        <dl>
                                                            <dd class="polaroid-horizontal__travel">
                                                                Gravel/CX</dd>
                                                            <dd class="polaroid-horizontal__size">650b,
                                                                700c</dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="bike-dd__list-item">
                                        <div class="polaroid-horizontal">
                                            <a class="polaroid-horizontal__link"
                                                (click)="handleItemClick()" routerLink="#">
                                                <div class="polaroid-horizontal__image">
                                                    <picture>
                                                        <source
                                                            data-srcset="/assets/img/thumbs/jackal_thumb.jpg"
                                                            media="(min-width: 0px)"><img
                                                            data-src="/assets/img/thumbs/jackal_thumb.jpg"
                                                            class="lazyload" alt="Eton Image"
                                                            title=""></picture>
                                                </div>
                                                <div class="polaroid-horizontal__text-container">
                                                    <h2 class="polaroid-horizontal__title">Jackal</h2>
                                                    <div class="polaroid-horizontal__text">
                                                        <dl>
                                                            <dd class="polaroid-horizontal__travel">
                                                                Hardtail</dd>
                                                            <dd class="polaroid-horizontal__size">26"
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-dropdown__bikes-extra">
                        <div class="nav-dropdown__bikes-extra-item bikes-extra-item__cta">
                            <div
                                class="view view-feature-blocks view-id-feature_blocks view-display-id-block">



                                <div class="view-content">
                                    <div>
                                        <section class="feature-block">
                                            <div class="feature-block__image">
                                                <picture>
                                                    <source
                                                        data-srcset="/assets/img/scb_web_team_santacruzenduro_sm.jpg"
                                                        media="(min-width: 0px)"><img
                                                        data-src="/assets/img/scb_web_team_santacruzenduro_sm.jpg"
                                                        class="lazyload" alt="Eton Image"
                                                        title=""></picture>
                                            </div>
                                            <div class="feature-block__text-container">
                                                <h2 class="feature-block__title">Get Creative With Your
                                                    Surroundings</h2>
                                                <a (click)="handleItemClick()" routerLink="#"
                                                    class="feature-block__cta">See the new 5010 </a>
                                            </div>
                                        </section>
                                    </div>
                                </div>






                            </div><a (click)="handleItemClick()" routerLink="#" class="btn-primary dealer-link"
                                data-gtm_context="bikes">Find Your Local Dealer</a>
                        </div>
                        <div class="nav-dropdown__bikes-extra-item bikes-extra-item__support">
                            <h1 class="bikes-extra-item__support-title">Demo &amp; Support</h1>
                            <ul class="bikes-extra-item__support-list">
                                <li class="first"><a (click)="handleItemClick()" routerLink="#">Factory Demo</a></li>
                                <li><a (click)="handleItemClick()" routerLink="#">Demo Tour</a></li>
                                <li><a (click)="handleItemClick()" routerLink="#">Bike Archive</a></li>
                                <li><a (click)="handleItemClick()" routerLink="#">Warranty</a></li>
                                <li class="last"><a (click)="handleItemClick()" routerLink="#">Tech Support</a></li>
                            </ul>


                        </div>
                    </div><!--  .nav-dropdown__bikes-extra  -->
                </div><!--  .nav-dropdown__bikes-wrapper  -->
            </div><!--  .nav-dropdown__inner  -->
        </div><!--  .l-wrapper  -->
    </div><!--  .nav-dropdown  -->
</div>