<!-- <h1>Pop up of bikes will be shown here!!!</h1> -->
<div class="nav-dropdown__display-container" id="nav-dropdown__bike_menu" *ngIf="popupDisplay"
  [ngClass]="popupDisplay ? 'js-nav-link--is-active' : ''">
  <div class="nav-header">
    <div class="nav-header__inner">
      <div class="nav-header__link"><a (click)="handleItemClick()" routerLink="#">See All Bikes</a></div>
      <div class="nav-header__close" (click)="closeBikes()">
        <svg id="close--small" viewBox="0 0 512 512">
          <title>Close</title>
          <polygon
            points="512 59.09 452.91 0 256 196.91 59.09 0 0 59.09 196.91 256 0 452.91 59.09 512 256 315.09 452.91 512 512 452.91 315.09 256 512 59.09">
          </polygon>
        </svg>
      </div>
    </div>
  </div>
  <div class="nav-dropdown">
    <div class="l-wrapper">
      <div class="nav-dropdown__inner">

        <div class="nav-dropdown__bikes-wrapper">
          <div class="nav-dropdown__bikes">
            <ul *ngFor="let row of bikes;" class="bike-dd__list-category">
              <li *ngFor="let bike of row;" class="bike-dd__list-category--item">
                <!-- <span class="bike-dd__list-category--title">{{bike.name}}</span> -->
                <ul class="bike-dd__list-items">
                  <li class="bike-dd__list-item">
                    <div class="polaroid-horizontal">
                      <a class="polaroid-horizontal__link" (click)="handleItemClick()"
                        [routerLink]="'/bike/detail/'+bike.slug">
                        <div class="polaroid-horizontal__image">
                          <picture>
                            <source media="(min-width: 0px)"><img [src]="path+bike.long_shot_media[0].media_link"
                              class="lazyload" alt="Eton Image" title=""></picture>
                        </div>
                        <div class="polaroid-horizontal__text-container">
                          <h2 class="polaroid-horizontal__title">{{bike.name}}</h2>
                          <div class="polaroid-horizontal__text">
                            <dl>
                              <dd class="polaroid-horizontal__travel">
                                215mm</dd>
                              <dd class="polaroid-horizontal__size">27.5",
                                MX (Mixed), 29"</dd>
                            </dl>
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="nav-dropdown__bikes-extra">
            <div class="nav-dropdown__bikes-extra-item bikes-extra-item__cta">
              <div class="view view-feature-blocks view-id-feature_blocks view-display-id-block">
                <div class="view-content">
                  <div>
                    <section class="feature-block">
                      <div class="feature-block__image">
                        <picture>
                          <source data-srcset="/assets/img/scb_web_team_santacruzenduro_sm.jpg"
                            media="(min-width: 0px)"><img data-src="/assets/img/scb_web_team_santacruzenduro_sm.jpg"
                            class="lazyload" alt="Eton Image" title=""></picture>
                      </div>
                      <div class="feature-block__text-container">
                        <h2 class="feature-block__title">Get Creative With Your
                          Surroundings</h2>
                        <a (click)="handleItemClick()" routerLink="#" class="feature-block__cta">See the new 5010 </a>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
              <a (click)="handleItemClick()" routerLink="#" class="btn-primary dealer-link"
                data-gtm_context="bikes">Find Your Local Dealer</a>
            </div>
            <div class="nav-dropdown__bikes-extra-item bikes-extra-item__support">
              <h1 class="bikes-extra-item__support-title">Demo &amp; Support</h1>
              <ul class="bikes-extra-item__support-list">
                <li class="first"><a (click)="handleItemClick()" routerLink="#">Factory Demo</a></li>
                <!-- <li><a (click)="handleItemClick()" routerLink="#">Demo Tour</a></li> -->
                <!-- <li><a (click)="handleItemClick()" routerLink="#">Bike Archive</a></li> -->
                <li><a (click)="handleItemClick()" routerLink="#">Warranty</a></li>
                <li class="last"><a (click)="handleItemClick()" routerLink="#">Tech Support</a></li>
              </ul>
            </div>
          </div><!--  .nav-dropdown__bikes-extra  -->
        </div><!--  .nav-dropdown__bikes-wrapper  -->
      </div><!--  .nav-dropdown__inner  -->
    </div><!--  .l-wrapper  -->
  </div><!--  .nav-dropdown  -->
</div>
