<footer class="footer" role="contentinfo">
  <h1 class="u-hide-visual">Footer Links, Social Media Channels and Language Selector</h1>

  <section class="footer-links" role="contentinfo">
    <h2 class="u-hide-visual">Footer Links</h2>
    <div class="footer-links__categories l-wrapper">
      <div class="footer-links__category">
        <h2 class="footer-links__title">Company</h2>
        <ul>
          <li class="first"><a routerLink="/about-us">About Us</a></li>
          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
          <li class="last"><a href="#">Contact Us</a></li>
        </ul>

      </div>
      <div class="footer-links__category">
        <h2 class="footer-links__title">Technology</h2>
        <ul>
          <li class="first"><a href="#">Lifetime Guarantee</a></li>
          <li><a href="#">Aluminium Expertise</a></li>
        </ul>

      </div>
      <div class="footer-links__category">
        <h2 class="footer-links__title">Support</h2>
        <ul>
          <li><a href="#">Warranty &amp; Replacements</a></li>
          <li><a href="#">Shop Parts &amp;
              Tools</a></li>
          <li><a href="#">Tech Support</a></li>
        </ul>

      </div>
      <div class="footer-links__category">
        <h2 class="footer-links__title">Experience</h2>
        <ul>
          <li><a href="#" class="dealer-link" data-gtm_context="footer">Find a
              Retailer</a></li>
          <li><a href="#">Factory Demo</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="footer-social">
    <h2 class="u-hide-visual">Eton Home &amp; Social Media Channels</h2>
    <div class="footer-social__sections l-wrapper">

      <div class="footer-social__section footer-social__social-logo" style="margin-bottom: 25px;">
        <div class="u-hide-visual">Eton Bicycles</div>
        <a href="#" title="Home" rel="home">
          <img style="width: 60px;height: 60px;" src="/assets/images/default/eton-without-background.png"
            alt="Eton Bicycles">
        </a>
      </div>

      <div class="footer-social__section footer-social__social-channels">

        <div class="social-channel__icon social-channel__icon--facebook">

          <a href="#" target="_blank" title="Eton Bicycles on Facebook">
            <i class="u-hide-visual">Facebook</i>
            <svg id="facebook" viewBox="0 0 244.05 486.39">
              <title>Eton Bicycles on Facebook</title>
              <path
                d="M273.44,159.35l.12-42c0-21.86,1.52-33.56,32.83-33.56h57.94V0h-83c-80.56,0-99.1,41.62-99.1,110l.09,49.37-61.13,0V243.2h61.13v243.2h91.17l.06-243.2,82.78,0,8.91-83.81Z"
                transform="translate(-121.17)"></path>
            </svg>
          </a>
        </div>

        <div class="social-channel__icon social-channel__icon--twitter">

          <a href="#" target="_blank" title="Eton Bicycles on Twitter">
            <i class="u-hide-visual">Twitter</i>
            <svg id="twitter" viewBox="0 0 612 497.12">
              <title>Eton Bicycles on Twitter</title>
              <path class="cls-1"
                d="M612,116.26A250.71,250.71,0,0,1,539.91,136,126.07,126.07,0,0,0,595.1,66.62,253.1,253.1,0,0,1,515.32,97.1,125.64,125.64,0,0,0,301.39,211.56,356.43,356.43,0,0,1,42.64,80.39,125.69,125.69,0,0,0,81.5,248a125.56,125.56,0,0,1-56.87-15.76v1.57a125.67,125.67,0,0,0,100.69,123.1,127.17,127.17,0,0,1-33.08,4.4,120.5,120.5,0,0,1-23.63-2.33,125.61,125.61,0,0,0,117.25,87.19A251.89,251.89,0,0,1,29.94,499.8,266.81,266.81,0,0,1,0,498.07a354.88,354.88,0,0,0,192.44,56.49c230.95,0,357.19-191.29,357.19-357.19l-.42-16.25A250.7,250.7,0,0,0,612,116.26Z"
                transform="translate(0 -57.44)"></path>
            </svg>
          </a>
        </div>

        <div class="social-channel__icon social-channel__icon--instagram">

          <a href="#" target="_blank" title="Eton Bicycles on Instagram">
            <i class="u-hide-visual">Instagram</i>
            <svg id="instagram" viewBox="0 0 486.39 486.39">
              <title>Eton Bicycles on Instagram</title>
              <path
                d="M464.41,0H21.95A22,22,0,0,0,0,21.92V464.47a22,22,0,0,0,21.95,21.92H464.41a22,22,0,0,0,22-21.92V21.92A22,22,0,0,0,464.41,0ZM243.2,158.32a84.88,84.88,0,1,1-84.88,84.88A84.87,84.87,0,0,1,243.2,158.32Zm182.4,267.27H60.8V212.8h40a145.26,145.26,0,0,0-3.31,30.4c0,80.35,65.36,145.67,145.67,145.67S388.87,323.54,388.87,243.2a147.36,147.36,0,0,0-3.28-30.4h40v212.8Zm0-273.6h-91.2V60.8h91.2Z">
              </path>
            </svg>
          </a>
        </div>

        <div class="social-channel__icon social-channel__icon--youtube">

          <a href="#" target="_blank" title="Eton Bicycles on YouTube">
            <i class="u-hide-visual">YouTube</i>
            <svg id="youtube" viewBox="0 0 176 124">
              <title>Eton Bicycles on YouTube</title>
              <path
                d="M172.32233 19.36279a22.11466 22.11466 0 00-15.56018-15.66125C143.03674 0 88.00006 0 88.00006 0S32.96332 0 19.23792 3.70154A22.11476 22.11476 0 003.67773 19.36279C0 33.17725 0 61.99994 0 61.99994s0 28.82275 3.67773 42.63727a22.1146 22.1146 0 0015.56019 15.66113C32.96332 124 88.00006 124 88.00006 124s55.03668 0 68.76209-3.70166a22.1145 22.1145 0 0015.56018-15.66113C176 90.82269 176 61.99994 176 61.99994s0-28.82269-3.67767-42.63715zM70 88.16882V35.83118l46 26.16961z">
              </path>
            </svg>
          </a>
        </div>

        <div class="social-channel__icon social-channel__icon--newsletter">

          <a href="#" target="_blank" title="Eton Bicycles on Newsletter">
            <i class="u-hide-visual">Newsletter</i>
            <svg id="email" viewBox="0 0 486.39 364.79">
              <title>Eton Bicycles Newsletter Signup</title>
              <path class="cls-1"
                d="M456,60.8H30.4A30.41,30.41,0,0,0,0,91.2v51l243.2,97.28,243.2-97.28v-51A30.41,30.41,0,0,0,456,60.8Z"
                transform="translate(0 -60.8)"></path>
              <path class="cls-1"
                d="M0,191.88V395.19a30.41,30.41,0,0,0,30.4,30.4H456a30.41,30.41,0,0,0,30.4-30.4V191.88L243.2,289.16Z"
                transform="translate(0 -60.8)"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>
</footer>
