<section id="frame_hero">
  <div class="frame-hero" style="height: 789px;">
    <div class="frame-hero__images">
      <section class="hero-panel hero-panel--text-left  hero-panel--no-text hero-panel--image" style="display: block;">
        <div class="hero-panel__inner">
          <picture>
            <source data-srcset="/assets/img/hero/my21_hero_v10_mx.jpg?itok=dWA3411A 1x"
              media="(min-width: 1600px) and (orientation: landscape)"
              srcset="/assets/img/hero/my21_hero_v10_mx.jpg?itok=dWA3411A 1x">
            <source
              data-srcset="https://www.etonbicycles.com/files/styles/scb_natural_2000_auto/public/my21_mobile_hero_v10_mx.jpg?itok=QJe3HWTr 1x"
              media="(min-width: 1600px) and (orientation: portrait)"
              srcset="https://www.etonbicycles.com/files/styles/scb_natural_2000_auto/public/my21_mobile_hero_v10_mx.jpg?itok=QJe3HWTr 1x">
            <source
              data-srcset="/assets/img/hero/my21_hero_v10_mx.jpg?itok=dWA3411A 2x, /assets/img/hero/my21_hero_v10_mx.jpg?itok=X_NHnVKY 1x"
              media="(min-width: 960px) and (orientation: landscape)"
              srcset="/assets/img/hero/my21_hero_v10_mx.jpg?itok=dWA3411A 2x, /assets/img/hero/my21_hero_v10_mx.jpg?itok=X_NHnVKY 1x">
            <source
              data-srcset="https://www.etonbicycles.com/files/styles/scb_natural_2000_auto/public/my21_mobile_hero_v10_mx.jpg?itok=QJe3HWTr 2x, https://www.etonbicycles.com/files/styles/scb_natural_1440_auto/public/my21_mobile_hero_v10_mx.jpg?itok=PDcdern8 1x"
              media="(min-width: 960px) and (orientation: portrait)"
              srcset="https://www.etonbicycles.com/files/styles/scb_natural_2000_auto/public/my21_mobile_hero_v10_mx.jpg?itok=QJe3HWTr 2x, https://www.etonbicycles.com/files/styles/scb_natural_1440_auto/public/my21_mobile_hero_v10_mx.jpg?itok=PDcdern8 1x">
            <source
              data-srcset="/assets/img/hero/my21_hero_v10_mx.jpg?itok=X_NHnVKY 2x, /assets/img/hero/my21_hero_v10_mx.jpg?itok=FvdOkqz- 1x"
              media="(min-width: 480px) and (orientation: landscape)"
              srcset="/assets/img/hero/my21_hero_v10_mx.jpg?itok=X_NHnVKY 2x, /assets/img/hero/my21_hero_v10_mx.jpg?itok=FvdOkqz- 1x">
            <source
              data-srcset="https://www.etonbicycles.com/files/styles/scb_natural_1440_auto/public/my21_mobile_hero_v10_mx.jpg?itok=PDcdern8 2x, https://www.etonbicycles.com/files/styles/scb_natural_960_auto/public/my21_mobile_hero_v10_mx.jpg?itok=N3iHZUKU 1x"
              media="(min-width: 480px) and (orientation: portrait)"
              srcset="https://www.etonbicycles.com/files/styles/scb_natural_1440_auto/public/my21_mobile_hero_v10_mx.jpg?itok=PDcdern8 2x, https://www.etonbicycles.com/files/styles/scb_natural_960_auto/public/my21_mobile_hero_v10_mx.jpg?itok=N3iHZUKU 1x">
            <source
              data-srcset="/assets/img/hero/my21_hero_v10_mx.jpg?itok=L4z843kw 2x, /assets/img/hero/my21_hero_v10_mx.jpg?itok=RaSaj5Kx 1x"
              media="(min-width: 0px) and (orientation: landscape)"
              srcset="/assets/img/hero/my21_hero_v10_mx.jpg?itok=L4z843kw 2x, /assets/img/hero/my21_hero_v10_mx.jpg?itok=RaSaj5Kx 1x">
            <source
              data-srcset="https://www.etonbicycles.com/files/styles/scb_natural_960_auto/public/my21_mobile_hero_v10_mx.jpg?itok=N3iHZUKU 2x, https://www.etonbicycles.com/files/styles/scb_natural_480_auto/public/my21_mobile_hero_v10_mx.jpg?itok=7L7NGy5d 1x"
              media="(min-width: 0px) and (orientation: portrait)"
              srcset="https://www.etonbicycles.com/files/styles/scb_natural_960_auto/public/my21_mobile_hero_v10_mx.jpg?itok=N3iHZUKU 2x, https://www.etonbicycles.com/files/styles/scb_natural_480_auto/public/my21_mobile_hero_v10_mx.jpg?itok=7L7NGy5d 1x">
            <img data-src="/assets/img/hero/my21_hero_v10_mx.jpg?itok=X_NHnVKY" class=" lazyloaded"
              alt="Eton Bicycles v10 mx" title="v10 mx" src="/assets/img/hero/my21_hero_v10_mx.jpg?itok=X_NHnVKY">
          </picture>
        </div>
      </section>
      <section class="hero-panel hero-panel--text-left  hero-panel--no-text hero-panel--image" style="display: none;">
        <div class="hero-panel__inner">
          <picture>
            <source data-srcset="/assets/img/hero/my21_hero_v10_275.jpg?itok=nGimuOH- 1x"
              media="(min-width: 1600px) and (orientation: landscape)"
              srcset="/assets/img/hero/my21_hero_v10_275.jpg?itok=nGimuOH- 1x">
            <source
              data-srcset="https://www.etonbicycles.com/files/styles/scb_natural_2000_auto/public/my21_mobile_hero_v10_275.jpg?itok=vBwJG9lc 1x"
              media="(min-width: 1600px) and (orientation: portrait)"
              srcset="https://www.etonbicycles.com/files/styles/scb_natural_2000_auto/public/my21_mobile_hero_v10_275.jpg?itok=vBwJG9lc 1x">
            <source
              data-srcset="/assets/img/hero/my21_hero_v10_275.jpg?itok=nGimuOH- 2x, /assets/img/hero/my21_hero_v10_275.jpg?itok=BNCq-Ndj 1x"
              media="(min-width: 960px) and (orientation: landscape)"
              srcset="/assets/img/hero/my21_hero_v10_275.jpg?itok=nGimuOH- 2x, /assets/img/hero/my21_hero_v10_275.jpg?itok=BNCq-Ndj 1x">
            <source
              data-srcset="https://www.etonbicycles.com/files/styles/scb_natural_2000_auto/public/my21_mobile_hero_v10_275.jpg?itok=vBwJG9lc 2x, https://www.etonbicycles.com/files/styles/scb_natural_1440_auto/public/my21_mobile_hero_v10_275.jpg?itok=ANrP-0L8 1x"
              media="(min-width: 960px) and (orientation: portrait)"
              srcset="https://www.etonbicycles.com/files/styles/scb_natural_2000_auto/public/my21_mobile_hero_v10_275.jpg?itok=vBwJG9lc 2x, https://www.etonbicycles.com/files/styles/scb_natural_1440_auto/public/my21_mobile_hero_v10_275.jpg?itok=ANrP-0L8 1x">
            <source
              data-srcset="/assets/img/hero/my21_hero_v10_275.jpg?itok=BNCq-Ndj 2x, /assets/img/hero/my21_hero_v10_275.jpg?itok=ne0PfGgn 1x"
              media="(min-width: 480px) and (orientation: landscape)"
              srcset="/assets/img/hero/my21_hero_v10_275.jpg?itok=BNCq-Ndj 2x, /assets/img/hero/my21_hero_v10_275.jpg?itok=ne0PfGgn 1x">
            <source
              data-srcset="https://www.etonbicycles.com/files/styles/scb_natural_1440_auto/public/my21_mobile_hero_v10_275.jpg?itok=ANrP-0L8 2x, https://www.etonbicycles.com/files/styles/scb_natural_960_auto/public/my21_mobile_hero_v10_275.jpg?itok=3a7wjl-K 1x"
              media="(min-width: 480px) and (orientation: portrait)"
              srcset="https://www.etonbicycles.com/files/styles/scb_natural_1440_auto/public/my21_mobile_hero_v10_275.jpg?itok=ANrP-0L8 2x, https://www.etonbicycles.com/files/styles/scb_natural_960_auto/public/my21_mobile_hero_v10_275.jpg?itok=3a7wjl-K 1x">
            <source
              data-srcset="/assets/img/hero/my21_hero_v10_275.jpg?itok=8QfeQ5vw 2x, /assets/img/hero/my21_hero_v10_275.jpg?itok=rHdhFJnu 1x"
              media="(min-width: 0px) and (orientation: landscape)"
              srcset="/assets/img/hero/my21_hero_v10_275.jpg?itok=8QfeQ5vw 2x, /assets/img/hero/my21_hero_v10_275.jpg?itok=rHdhFJnu 1x">
            <source
              data-srcset="https://www.etonbicycles.com/files/styles/scb_natural_960_auto/public/my21_mobile_hero_v10_275.jpg?itok=3a7wjl-K 2x, https://www.etonbicycles.com/files/styles/scb_natural_480_auto/public/my21_mobile_hero_v10_275.jpg?itok=LoOc9SuM 1x"
              media="(min-width: 0px) and (orientation: portrait)"
              srcset="https://www.etonbicycles.com/files/styles/scb_natural_960_auto/public/my21_mobile_hero_v10_275.jpg?itok=3a7wjl-K 2x, https://www.etonbicycles.com/files/styles/scb_natural_480_auto/public/my21_mobile_hero_v10_275.jpg?itok=LoOc9SuM 1x">
            <img data-src="/assets/img/hero/my21_hero_v10_275.jpg?itok=BNCq-Ndj" class=" lazyloaded"
              alt="Eton Bicycles v10 275" title="V10" src="/assets/img/hero/my21_hero_v10_275.jpg?itok=BNCq-Ndj">
          </picture>
        </div>
      </section>
      <section class="hero-panel hero-panel--text-left  hero-panel--no-text hero-panel--image" style="display: none;">
        <div class="hero-panel__inner">
          <picture>
            <source data-srcset="/assets/img/hero/my21_hero_v10_29.jpg?itok=uamccoW1 1x"
              media="(min-width: 1600px) and (orientation: landscape)"
              srcset="/assets/img/hero/my21_hero_v10_29.jpg?itok=uamccoW1 1x">
            <source
              data-srcset="https://www.etonbicycles.com/files/styles/scb_natural_2000_auto/public/my21_mobile_hero_v10_29.jpg?itok=nPgPjFmB 1x"
              media="(min-width: 1600px) and (orientation: portrait)"
              srcset="https://www.etonbicycles.com/files/styles/scb_natural_2000_auto/public/my21_mobile_hero_v10_29.jpg?itok=nPgPjFmB 1x">
            <source
              data-srcset="/assets/img/hero/my21_hero_v10_29.jpg?itok=uamccoW1 2x, /assets/img/hero/my21_hero_v10_29.jpg?itok=O8875G1j 1x"
              media="(min-width: 960px) and (orientation: landscape)"
              srcset="/assets/img/hero/my21_hero_v10_29.jpg?itok=uamccoW1 2x, /assets/img/hero/my21_hero_v10_29.jpg?itok=O8875G1j 1x">
            <source
              data-srcset="https://www.etonbicycles.com/files/styles/scb_natural_2000_auto/public/my21_mobile_hero_v10_29.jpg?itok=nPgPjFmB 2x, https://www.etonbicycles.com/files/styles/scb_natural_1440_auto/public/my21_mobile_hero_v10_29.jpg?itok=RF9uxaBf 1x"
              media="(min-width: 960px) and (orientation: portrait)"
              srcset="https://www.etonbicycles.com/files/styles/scb_natural_2000_auto/public/my21_mobile_hero_v10_29.jpg?itok=nPgPjFmB 2x, https://www.etonbicycles.com/files/styles/scb_natural_1440_auto/public/my21_mobile_hero_v10_29.jpg?itok=RF9uxaBf 1x">
            <source
              data-srcset="/assets/img/hero/my21_hero_v10_29.jpg?itok=O8875G1j 2x, /assets/img/hero/my21_hero_v10_29.jpg?itok=OfvLQMe1 1x"
              media="(min-width: 480px) and (orientation: landscape)"
              srcset="/assets/img/hero/my21_hero_v10_29.jpg?itok=O8875G1j 2x, /assets/img/hero/my21_hero_v10_29.jpg?itok=OfvLQMe1 1x">
            <source
              data-srcset="https://www.etonbicycles.com/files/styles/scb_natural_1440_auto/public/my21_mobile_hero_v10_29.jpg?itok=RF9uxaBf 2x, https://www.etonbicycles.com/files/styles/scb_natural_960_auto/public/my21_mobile_hero_v10_29.jpg?itok=9ryQzPCh 1x"
              media="(min-width: 480px) and (orientation: portrait)"
              srcset="https://www.etonbicycles.com/files/styles/scb_natural_1440_auto/public/my21_mobile_hero_v10_29.jpg?itok=RF9uxaBf 2x, https://www.etonbicycles.com/files/styles/scb_natural_960_auto/public/my21_mobile_hero_v10_29.jpg?itok=9ryQzPCh 1x">
            <source
              data-srcset="/assets/img/hero/my21_hero_v10_29.jpg?itok=HB-mj6fe 2x, /assets/img/hero/my21_hero_v10_29.jpg?itok=Jbs1i9sL 1x"
              media="(min-width: 0px) and (orientation: landscape)"
              srcset="/assets/img/hero/my21_hero_v10_29.jpg?itok=HB-mj6fe 2x, /assets/img/hero/my21_hero_v10_29.jpg?itok=Jbs1i9sL 1x">
            <source
              data-srcset="https://www.etonbicycles.com/files/styles/scb_natural_960_auto/public/my21_mobile_hero_v10_29.jpg?itok=9ryQzPCh 2x, https://www.etonbicycles.com/files/styles/scb_natural_480_auto/public/my21_mobile_hero_v10_29.jpg?itok=-ss1-Jmf 1x"
              media="(min-width: 0px) and (orientation: portrait)"
              srcset="https://www.etonbicycles.com/files/styles/scb_natural_960_auto/public/my21_mobile_hero_v10_29.jpg?itok=9ryQzPCh 2x, https://www.etonbicycles.com/files/styles/scb_natural_480_auto/public/my21_mobile_hero_v10_29.jpg?itok=-ss1-Jmf 1x">
            <img data-src="/assets/img/hero/my21_hero_v10_29.jpg?itok=O8875G1j" class=" lazyloaded"
              alt="Eton Bicycles v10 29" title="v10" src="/assets/img/hero/my21_hero_v10_29.jpg?itok=O8875G1j">
          </picture>
        </div>
      </section>
    </div>
    <div class="frame-hero__swatches fixedBottom">
      <div class="swatches swatches--full">
        <div class="swatch js-swatch--selected" style="background-color: #362A2E"><span class="swatch__inner">MY21
            Oxblood</span><span class="swatch__decal" style="border-bottom-color: #d6d2c4"> &amp; MY21 Fog</span>
        </div>
        <div class="swatch" style="background-color: #3B393A"><span class="swatch__inner">MY21 Matte
            Carbon</span></div>
        <div class="swatch" style="background-color: #979590"><span class="swatch__inner">MY21
            Battleship Grey</span></div>
      </div>
    </div>
  </div>
</section>
