<!-- 
    media-panel--full-bg
    media-panel--beige
    media-panel--text-first
    media-panel--text-last
-->
<div class="media-panels media-panels--no_space">
  <section class="media-panel media-panel--vh-default  media-panel--space-none" [ngClass]="setImageSide()"
    style="background-color: #1f1f1f;">
    <div class="media-panel__wrapper">
      <div class="media-panel__image" [style.background-image]="'url(' + (section.medias[0] ? path+section.medias[0].media_link : noImage )+ ')'">
      </div>
      <div class="media-panel__text-wrapper">
        <div class="media-panel__text-inner" style="color: #ffffff;">
          <h4 class="media-panel__title" style="color: #ffffff;">
            {{section.heading}}</h4>
          <div class="media-panel__text text-editor">
            <p [innerHTML]="section.content"></p>
          </div>
          <a href="https://www.etonbicycles.com/en-US/paydirt" class="btn-primary">See PayDirt Grantees</a>
        </div>
      </div>
    </div>
  </section>
</div>
