<section class="product-explorer__panel">
  <div class="l-wrapper">
    <h1 class="product-explorer__panel-title">Explore our lineup</h1>
  </div>

  <div class="view view-bikes-for-homepage view-id-bikes_for_homepage view-display-id-block_2">



    <div class="view-content">
      <div class="product-explorer-toggle">
        <ul>

          <li class="product-explorer-toggle__item js-product-explorer-toggle--active" data-bikeid="bike-node--3668">
            <div class="product-explorer-toggle__title">
              V10 </div>
          </li>
          <li class="product-explorer-toggle__item" data-bikeid="bike-node--3113">
            <div class="product-explorer-toggle__title">
              Nomad </div>
          </li>
          <li class="product-explorer-toggle__item" data-bikeid="bike-node--3703">
            <div class="product-explorer-toggle__title">
              Megatower </div>
          </li>
          <li class="product-explorer-toggle__item" data-bikeid="bike-node--3463">
            <div class="product-explorer-toggle__title">
              Heckler </div>
          </li>
          <li class="product-explorer-toggle__item" data-bikeid="bike-node--3667">
            <div class="product-explorer-toggle__title">
              Bronson </div>
          </li>
          <li class="product-explorer-toggle__item" data-bikeid="bike-node--3625">
            <div class="product-explorer-toggle__title">
              5010 </div>
          </li>
          <li class="product-explorer-toggle__item" data-bikeid="bike-node--3666">
            <div class="product-explorer-toggle__title">
              Hightower </div>
          </li>
          <li class="product-explorer-toggle__item" data-bikeid="bike-node--3665">
            <div class="product-explorer-toggle__title">
              Tallboy </div>
          </li>
          <li class="product-explorer-toggle__item" data-bikeid="bike-node--3664">
            <div class="product-explorer-toggle__title">
              Blur </div>
          </li>
          <li class="product-explorer-toggle__item" data-bikeid="bike-node--3663">
            <div class="product-explorer-toggle__title">
              Highball </div>
          </li>
          <li class="product-explorer-toggle__item" data-bikeid="bike-node--3661">
            <div class="product-explorer-toggle__title">
              Stigmata </div>
          </li>
          <li class="product-explorer-toggle__item" data-bikeid="bike-node--3662">
            <div class="product-explorer-toggle__title">
              Chameleon </div>
          </li>
          <li class="product-explorer-toggle__item" data-bikeid="bike-node--3700">
            <div class="product-explorer-toggle__title">
              Jackal </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="view view-bikes-for-homepage view-id-bikes_for_homepage view-display-id-block_1">

    <div class="view-content">
      <div class="product-explorer pex-toggle-processed">
        <div class="l-wrapper">
          <div class="product-explorer__image-wrapper" [ngSwitch]="exLineup">
            <div *ngFor="let bike of productBrief; let index = index">
              <a href="/en-US/bikes/v10" *ngSwitchCase="index"><img lass=" lazyloaded" alt="Eton Bicycles"
                  default="" [src]="bike?.media?.url || noImage "></a>
            </div>
          </div>

          <div class="product-explorer__text-wrapper">
            <ul>
              <li *ngFor="let bike of productBrief; let index= index" class="product-explorer__item"
              [class.js-product-explorer--inactive]="exLineup !== index"
                [class.js-product-explorer--active]="exLineup == index" rel="tab1" (click)="onBikeChangeEvent(index, 'onClick')">
                <div class="product-explorer__image">
                  <a href="/en-US/bikes/v10"><img data-src="/assets/img/thumbs/my21_thumb_0000_my21_v10_mx_xo1.jpg"
                      class=" lazyloaded" width="1100" height="704" alt="Eton Bicycles" [src]="bike?.media?.url || noImage" default=""></a>
                </div>
                <div class="product-explorer__title" (click)="exLineup = index">
                  {{bike.name}} -- {{exLineup}}
                  <span class="product-explorer__tag" *ngIf="bike.is_new">New </span>
                </div>
                <div class="product-explorer__details-container">
                  <div class="product-explorer__description" [innerHTML]="bike.description | slice: 0: 50">
                  </div>
                  <div class="product-explorer__buttons">
                    <a href="/en-US/bikes/v10" class="btn-primary">More Info</a>
                    <a href="/en-US/bikes" class="btn-tertiary">All Bikes</a>
                  </div>
                </div>
                <a title="Up" (click)="onBikeChangeEvent(index-1, 'onUp')" class="pex-up pex-toggle">Up</a>
                <a title="Down" (click)="onBikeChangeEvent(index+1, 'onDown')" class="pex-down pex-toggle">Down</a>
              </li>
            </ul>
            <div class="product-explorer-toggle__gradient"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
