.login-section {
  padding: 90px 0 0;
}

.form-section {
  background: #fff;
  padding: 60px 50px;
  max-width: 420px;
  margin: 0 auto;
  border-radius: 4px;
}

.page-title {
  letter-spacing: .3px;
  font-size: 32px;
  line-height: 32px;
  color: #000;
  margin: 0;

  span {
    color: #ee1f52;
  }
}

p {
  color: #555;
  display: block;
  font-size: 16px;
  line-height: 22px;
  margin: 15px 0;
  font-weight: 300;
}

.error-message {
  position: absolute;
  bottom: -18px;
}

.link-btn {
  font-size: 13px;
  color: #888;
  font-weight: 400;

  span {
    color: #ee1f52;
  }
}

