<section id="login-page-block"
  class="login-section">
  <div class="bg"></div>
  <div class="form-section">
    <div *ngIf="!formSuccess">
      <div class="page-title">
        Reset<br>
        <span>password?</span>
      </div>
      <p>Enter your new password for your etonbikes account.</p>
      <form [formGroup]="forgotPasswordForm"
        (ngSubmit)="onSubmit()"
        class="formElements">
        <div class="form-group">
          <input type="password"
            formControlName="newPassword"
            class="form-control"
            placeholder="Your New Password" />
          <app-input-validation [control]="forgotPasswordForm.controls.newPassword">
          </app-input-validation>
        </div>

        <button type="submit"
          class="btn btn-primary btn-block"
          [appLoadingButton]="isSubmitting">
          Reset Password
        </button>

      </form>
    </div>
    <div *ngIf="formSuccess"
      class="success-message">
      <h5 class="page-title">Password reset <br><span>successful</span></h5>
      <p>Awesome you've successfully updated your password. Please click below login now button to continue.</p>
      <button (click)="openLoginForm()"
        type="button"
        class="btn btn-primary btn-block">
        Login Now
      </button>
    </div>
  </div>
</section>
