<section class="share-block__wrapper l-wrapper">
  
  <div class="share-block__text">
    <h1 class="share-block__title">Share your ride</h1>
    <p class="share-block__text">All the latest straight from our Instagram.</p>
    <a class="btn-primary share-block__button" href="https://www.instagram.com/etonbicycles/" target="_blank">FOLLOW
      @etonbicycles</a>
  </div>
  <div style="text-align: center; font-size: -webkit-xxx-large;"> Coming Soon</div>
  <!-- <script src="https://assets.juicer.io/embed.js" type="text/javascript"></script>
  <link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css">
  <ul class="juicer-feed j-initialized j-modern j-desktop image-grid hover-images photos-only loaded"
    data-feed-id="etonbicycles-0e502215-da16-48b2-89e7-0b972974940e" data-per="12" data-pages="1" data-gutter="10">
    <div class="j-stacker-wrapper" style="margin-left: -5px; margin-right: -5px;">
      <div class="j-stacker">
        <div class="j-stack galcolumn column-0-3OD8T" id="j-column-0"
          style="width: 33.3333%; padding-left: 5px; padding-right: 5px;">
          <li class="feed-item j-instagram j-instagram-bg j-gallery etonbicycles   is-not-youTube" data-id="429606367"
            data-source="instagram" style="margin-bottom: 10px; zoom: 1; opacity: 1;"><a class="j-image"
              data-external-id="CBawjIcnH-X" data-image="https://www.instagram.com/p/CBawjIcnH-X/media?size=l"
              data-video-url="" href="https://www.instagram.com/p/CBawjIcnH-X/" target="_blank"><span
                class="j-gallery-nav"><span class="j-gallery-arrow j-gallery-previous">Previous</span><span
                  class="j-gallery-arrow j-gallery-next">Next</span></span><img
                alt="Photo from @etonbicycles on Instagram on etonbicycles at 6/14/20 at 7:31PM" class=""
                data-lazy="https://www.instagram.com/p/CBawjIcnH-X/media?size=l"
                style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"
                src="https://www.instagram.com/p/CBawjIcnH-X/media?size=l"></a>
            <div class="j-text">
              <div class="j-poster"><a href="https://www.instagram.com/etonbicycles" target="_blank"><img
                    alt="Profile image for etonbicycles"
                    data-lazy="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX9DpKMW&amp;oh=edd07fcf41460cbb94b6be2e593709ee&amp;oe=5F112B5B"
                    data-poster-id="241144037"
                    src="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX9DpKMW&amp;oh=edd07fcf41460cbb94b6be2e593709ee&amp;oe=5F112B5B"
                    style="display: none;">
                  <h3>etonbicycles</h3><time class="j-date" datetime="2020-06-14T07:01:21.000-07:00">3mo</time>
                </a></div>
              <div class="j-message">
                <p>| Sundays With Sven |<br>•<br>If there’s somebody who has seen
                  &amp; done it all in racing; its Doug “Hattrick” Hatfield.
                  Tuning and tweaking on bikes is part of his DNA, from building
                  his first MTB in the 70’s (before you could buy them) while
                  still in high school, to working as a full time tech for the US
                  National and Olympic team in the early nineties before moving on
                  to big factory race teams. He’s worked in road, track, XC,
                  trials &amp; CX before joining Eton in 2002 and has been
                  heading up Syndicate’s team support since 2006. During that time
                  he’s wrenched for every single rider that’s worn the syndicate
                  stripes, forever the constant &amp; always with a smile and
                  positive infectious attitude that lightens up the
                  pits.<br>-<br>There are little tricks, secrets &amp; personal
                  touches that every good mechanic has up their sleeve, but few
                  exude a peaceful, caring &amp; calming aura like Dougie Fresh.
                  I’ve witnessed Minnaar make a last minute decision, while sat in
                  a wet Fort William start gate, to back his pedal pins out a turn
                  for a little extra grip. Doug without panic or fluster magically
                  produces the correct allen and gets the job done with seconds to
                  spare. He’s that rock you want in your corner.<br>-<br>He will
                  build the perfect wheel in under 20 minutes but he will go the
                  extra mile to break in a fresh set of bearings too. Run in
                  bearings roll faster and you can sometimes spot him spinning out
                  the bearings with a high speed drill to conjure up those few
                  extra milliseconds for his rider. Sometimes there’s a personal
                  message or an old lucky number board hidden behind the current
                  one, or a fun custom sticker lurking somewhere on the frame that
                  makes all the difference. Experienced hands, some zen wisdom and
                  a stoked happy rider make for a winning package.<br>-<br>After
                  thirty years of wrenching Dougie returns for another year as
                  Service Course Manager, a full time job staying on top of the
                  mundane (parts and spares, forecasting, ordering &amp; packing)
                  while still bringing the magic with his forever youthful spark
                  and enthusiasm.<br>•<br>Images &amp; words <a href="https://www.instagram.com/svenmartinphoto"
                    target="_blank">@svenmartinphoto</a><br>June 14th
                  2020<br>#sundayswithsven</p>
              </div>
              <div class="j-meta">
                <ul>
                  <li><a aria-label="Comments" class="comments" href="https://www.instagram.com/p/CBawjIcnH-X/"
                      target="_blank">54</a></li>
                  <li><a aria-label="Likes" class="heart" href="https://www.instagram.com/p/CBawjIcnH-X/"
                      target="_blank">7,228</a></li>
                </ul>
                <nav><a aria-label="instagram" class="j-social j-instagram j-instagram-text-hover"
                    href="https://www.instagram.com/p/CBawjIcnH-X/" target="_blank"></a></nav>
              </div>
            </div>
          </li>
          <li class="feed-item j-instagram j-instagram-bg image-post etonbicycles   is-not-youTube" data-id="429385799"
            data-source="instagram" style="margin-bottom: 10px; zoom: 1; opacity: 1;"><a class="j-image"
              data-external-id="CBOcaDrn-0f" data-image="https://www.instagram.com/p/CBOcaDrn-0f/media?size=l"
              data-video-url="" href="https://www.instagram.com/p/CBOcaDrn-0f/" target="_blank"><img
                alt="Photo from @etonbicycles on Instagram on etonbicycles at 6/10/20 at 12:44AM" class=""
                data-lazy="https://www.instagram.com/p/CBOcaDrn-0f/media?size=l"
                style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"
                src="https://www.instagram.com/p/CBOcaDrn-0f/media?size=l"></a>
            <div class="j-text">
              <div class="j-poster"><a href="https://www.instagram.com/etonbicycles" target="_blank"><img
                    alt="Profile image for etonbicycles"
                    data-lazy="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX-sta-h&amp;oh=88e3a47db5a9646ce198783ea095020c&amp;oe=5F112B5B"
                    data-poster-id="241144037"
                    src="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX-sta-h&amp;oh=88e3a47db5a9646ce198783ea095020c&amp;oe=5F112B5B"
                    style="display: none;">
                  <h3>etonbicycles</h3><time class="j-date" datetime="2020-06-09T12:14:27.000-07:00">3mo</time>
                </a></div>
              <div class="j-message">
                <p>Return to sender.<br>•<br>🚲#BronsonCC<br>📷<a href="https://www.instagram.com/vernor"
                    target="_blank">@vernor</a></p>
              </div>
              <div class="j-meta">
                <ul>
                  <li><a aria-label="Comments" class="comments" href="https://www.instagram.com/p/CBOcaDrn-0f/"
                      target="_blank">44</a></li>
                  <li><a aria-label="Likes" class="heart" href="https://www.instagram.com/p/CBOcaDrn-0f/"
                      target="_blank">16,871</a></li>
                </ul>
                <nav><a aria-label="instagram" class="j-social j-instagram j-instagram-text-hover"
                    href="https://www.instagram.com/p/CBOcaDrn-0f/" target="_blank"></a></nav>
              </div>
            </div>
          </li>
          <li class="feed-item j-instagram j-instagram-bg j-gallery etonbicycles   is-not-youTube" data-id="428871546"
            data-source="instagram" style="margin-bottom: 10px; zoom: 1; opacity: 1;"><a class="j-image"
              data-external-id="CAvQGLDnifD" data-image="https://www.instagram.com/p/CAvQGLDnifD/media?size=l"
              data-video-url="" href="https://www.instagram.com/p/CAvQGLDnifD/" target="_blank"><span
                class="j-gallery-nav"><span class="j-gallery-arrow j-gallery-previous">Previous</span><span
                  class="j-gallery-arrow j-gallery-next">Next</span></span><img
                alt="Photo from @etonbicycles on Instagram on etonbicycles at 5/28/20 at 10:00PM" class=""
                data-lazy="https://www.instagram.com/p/CAvQGLDnifD/media?size=l"
                style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"
                src="https://www.instagram.com/p/CAvQGLDnifD/media?size=l"></a>
            <div class="j-text">
              <div class="j-poster"><a href="https://www.instagram.com/etonbicycles" target="_blank"><img
                    alt="Profile image for etonbicycles"
                    data-lazy="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX8ZHP95&amp;oh=c29991e04f9b9753b69dbff126e9ad7c&amp;oe=5F112B5B"
                    data-poster-id="241144037"
                    src="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX8ZHP95&amp;oh=c29991e04f9b9753b69dbff126e9ad7c&amp;oe=5F112B5B"
                    style="display: none;">
                  <h3>etonbicycles</h3><time class="j-date" datetime="2020-05-28T09:30:26.000-07:00">3mo</time>
                </a></div>
              <div class="j-message">
                <p>Pinkbike - Eton Rider, Bike Check Extravaganza - Part
                  2<br>•<br>15 bikes from 15 Eton Riders with build details
                  and Q&amp;A from the riders themselves.<br>•<br>Part 2 here
                  includes:<br>-&nbsp;<a href="https://www.instagram.com/alexisskarda"
                    target="_blank">@alexisskarda</a>’s #BlurCC<br>-&nbsp;<a
                    href="https://www.instagram.com/chrisjohnston5" target="_blank">@chrisjohnston5</a>’s
                  #HightowerCC<br>-&nbsp;<a href="https://www.instagram.com/colepicchiottino"
                    target="_blank">@colepicchiottino</a>’s
                  #MegatowerCC<br>-&nbsp;<a href="https://www.instagram.com/mctubbbin" target="_blank">@mctubbbin</a>’s
                  #HighballCC<br>-&nbsp;<a href="https://www.instagram.com/right__hand_sam"
                    target="_blank">@right__hand_sam</a>’s
                  #TallboyCC<br>-&nbsp;<a href="https://www.instagram.com/olliegregoryjones"
                    target="_blank">@olliegregoryjones</a>’
                  #NomadCC<br>-&nbsp;<a href="https://www.instagram.com/ashingtonio" target="_blank">@ashingtonio</a>’s
                  #Heckler<br>-&nbsp;<a href="https://www.instagram.com/jamienicolladventures"
                    target="_blank">@jamienicolladventures</a>’ #TallboyCC<br>-
                  <a href="https://www.instagram.com/carternieuwesteeg" target="_blank">@carternieuwesteeg</a>’s
                  #BlurCC<br>•<br>Head to the&nbsp;<a href="https://www.instagram.com/pinkbike"
                    target="_blank">@pinkbike</a>&nbsp;Link In Bio for all the
                  details🔝</p>
              </div>
              <div class="j-meta">
                <ul>
                  <li><a aria-label="Comments" class="comments" href="https://www.instagram.com/p/CAvQGLDnifD/"
                      target="_blank">126</a></li>
                  <li><a aria-label="Likes" class="heart" href="https://www.instagram.com/p/CAvQGLDnifD/"
                      target="_blank">36,083</a></li>
                </ul>
                <nav><a aria-label="instagram" class="j-social j-instagram j-instagram-text-hover"
                    href="https://www.instagram.com/p/CAvQGLDnifD/" target="_blank"></a></nav>
              </div>
            </div>
          </li>
          <li class="feed-item j-instagram j-instagram-bg image-post etonbicycles   is-not-youTube" data-id="428717808"
            data-source="instagram" style="margin-bottom: 10px; zoom: 1; opacity: 1;"><a class="j-image"
              data-external-id="CAnrMgWnYch" data-image="https://www.instagram.com/p/CAnrMgWnYch/media?size=l"
              data-video-url="" href="https://www.instagram.com/p/CAnrMgWnYch/" target="_blank"><img
                alt="Photo from @etonbicycles on Instagram on etonbicycles at 5/25/20 at 11:23PM" class=""
                data-lazy="https://www.instagram.com/p/CAnrMgWnYch/media?size=l"
                style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"
                src="https://www.instagram.com/p/CAnrMgWnYch/media?size=l"></a>
            <div class="j-text">
              <div class="j-poster"><a href="https://www.instagram.com/etonbicycles" target="_blank"><img
                    alt="Profile image for etonbicycles"
                    data-lazy="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX8ZHP95&amp;oh=c29991e04f9b9753b69dbff126e9ad7c&amp;oe=5F112B5B"
                    data-poster-id="241144037"
                    src="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX8ZHP95&amp;oh=c29991e04f9b9753b69dbff126e9ad7c&amp;oe=5F112B5B"
                    style="display: none;">
                  <h3>etonbicycles</h3><time class="j-date" datetime="2020-05-25T10:53:18.000-07:00">3mo</time>
                </a></div>
              <div class="j-message">
                <p>The road goes on forever...<br>•<br>🚲#StigmataCC<br>📷<a
                    href="https://www.instagram.com/dylanwolsky" target="_blank">@dylanwolsky</a></p>
              </div>
              <div class="j-meta">
                <ul>
                  <li><a aria-label="Comments" class="comments" href="https://www.instagram.com/p/CAnrMgWnYch/"
                      target="_blank">68</a></li>
                  <li><a aria-label="Likes" class="heart" href="https://www.instagram.com/p/CAnrMgWnYch/"
                      target="_blank">21,381</a></li>
                </ul>
                <nav><a aria-label="instagram" class="j-social j-instagram j-instagram-text-hover"
                    href="https://www.instagram.com/p/CAnrMgWnYch/" target="_blank"></a></nav>
              </div>
            </div>
          </li>
        </div>
        <div class="j-stack galcolumn column-1-3OD8T" id="j-column-1"
          style="width: 33.3333%; padding-left: 5px; padding-right: 5px;">
          <li class="feed-item j-instagram j-instagram-bg image-post etonbicycles   is-not-youTube" data-id="429529410"
            data-source="instagram" style="margin-bottom: 10px; zoom: 1; opacity: 1;"><a class="j-image"
              data-external-id="CBV971uHZiK" data-image="https://www.instagram.com/p/CBV971uHZiK/media?size=l"
              data-video-url="" href="https://www.instagram.com/p/CBV971uHZiK/" target="_blank"><img
                alt="Photo from @etonbicycles on Instagram on etonbicycles at 6/12/20 at 10:52PM" class=""
                data-lazy="https://www.instagram.com/p/CBV971uHZiK/media?size=l"
                style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"
                src="https://www.instagram.com/p/CBV971uHZiK/media?size=l"></a>
            <div class="j-text">
              <div class="j-poster"><a href="https://www.instagram.com/etonbicycles" target="_blank"><img
                    alt="Profile image for etonbicycles"
                    data-lazy="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX8UlIKU&amp;oh=f55b691751a76fbeeaabeb6d473c19f4&amp;oe=5F151FDB"
                    data-poster-id="241144037"
                    src="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX8UlIKU&amp;oh=f55b691751a76fbeeaabeb6d473c19f4&amp;oe=5F151FDB"
                    style="display: none;">
                  <h3>etonbicycles</h3><time class="j-date" datetime="2020-06-12T10:22:07.000-07:00">3mo</time>
                </a></div>
              <div class="j-message">
                <p>Springtime in Squamish.<br>Not
                  bad...<br>•<br>🚲#HightowerCC<br>🚁📷<a href="https://www.instagram.com/dylanwolsky"
                    target="_blank">@dylanwolsky</a></p>
              </div>
              <div class="j-meta">
                <ul>
                  <li><a aria-label="Comments" class="comments" href="https://www.instagram.com/p/CBV971uHZiK/"
                      target="_blank">47</a></li>
                  <li><a aria-label="Likes" class="heart" href="https://www.instagram.com/p/CBV971uHZiK/"
                      target="_blank">25,491</a></li>
                </ul>
                <nav><a aria-label="instagram" class="j-social j-instagram j-instagram-text-hover"
                    href="https://www.instagram.com/p/CBV971uHZiK/" target="_blank"></a></nav>
              </div>
            </div>
          </li>
          <li class="feed-item j-instagram j-instagram-bg image-post etonbicycles   is-not-youTube" data-id="429053898"
            data-source="instagram" style="margin-bottom: 10px; zoom: 1; opacity: 1;"><a class="j-image"
              data-external-id="CA7CTwtntVl" data-image="https://www.instagram.com/p/CA7CTwtntVl/media?size=l"
              data-video-url="" href="https://www.instagram.com/p/CA7CTwtntVl/" target="_blank"><img
                alt="Photo from @etonbicycles on Instagram on etonbicycles at 6/2/20 at 11:50AM" class=""
                data-lazy="https://www.instagram.com/p/CA7CTwtntVl/media?size=l"
                style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"
                src="https://www.instagram.com/p/CA7CTwtntVl/media?size=l"></a>
            <div class="j-text">
              <div class="j-poster"><a href="https://www.instagram.com/etonbicycles" target="_blank"><img
                    alt="Profile image for etonbicycles"
                    data-lazy="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX9Q8ZX6&amp;oh=e04ca3641e01e40bcb6505803a761f37&amp;oe=5F151FDB"
                    data-poster-id="241144037"
                    src="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX9Q8ZX6&amp;oh=e04ca3641e01e40bcb6505803a761f37&amp;oe=5F151FDB"
                    style="display: none;">
                  <h3>etonbicycles</h3><time class="j-date" datetime="2020-06-01T23:20:50.000-07:00">3mo</time>
                </a></div>
              <div class="j-message">
                <p>Eton is a company of people brought together by a love of
                  bicycles.<br>But bikes aren’t everything.<br>•<br>We’re deeply
                  saddened and troubled by the events surrounding George Floyd’s
                  death, and it’s plain to see the societal wounds it’s torn
                  open.<br>•<br>One of our core beliefs is that bikes can be used
                  as a force for good. We don’t just believe in quality bicycles,
                  we believe in quality of life.<br>What does that mean? We work
                  hard to find good things we can do in our communities and invest
                  our time, sweat, and dollars to make it happen.<br>•<br>How do
                  we, as a bike company, positively impact racial injustice and
                  inequality?<br>Posting on social media’s not going to solve it,
                  but we want to make sure our employees, athletes, and customers
                  of color know that we support them and have their backs.<br>We
                  want equality for all people, and we want justice brought to
                  those assholes who deserve it.<br>•<br>We know the world can be
                  better, and we’re going to be part of making that happen.</p>
              </div>
              <div class="j-meta">
                <ul>
                  <li><a aria-label="Comments" class="comments" href="https://www.instagram.com/p/CA7CTwtntVl/"
                      target="_blank">441</a></li>
                  <li><a aria-label="Likes" class="heart" href="https://www.instagram.com/p/CA7CTwtntVl/"
                      target="_blank">24,910</a></li>
                </ul>
                <nav><a aria-label="instagram" class="j-social j-instagram j-instagram-text-hover"
                    href="https://www.instagram.com/p/CA7CTwtntVl/" target="_blank"></a></nav>
              </div>
            </div>
          </li>
          <li class="feed-item j-instagram j-instagram-bg j-gallery etonbicycles   is-not-youTube" data-id="428822037"
            data-source="instagram" style="margin-bottom: 10px; zoom: 1; opacity: 1;"><a class="j-image"
              data-external-id="CAs3PmWH9HW" data-image="https://www.instagram.com/p/CAs3PmWH9HW/media?size=l"
              data-video-url="" href="https://www.instagram.com/p/CAs3PmWH9HW/" target="_blank"><span
                class="j-gallery-nav"><span class="j-gallery-arrow j-gallery-previous">Previous</span><span
                  class="j-gallery-arrow j-gallery-next">Next</span></span><img
                alt="Photo from @etonbicycles on Instagram on etonbicycles at 5/27/20 at 11:44PM" class=""
                data-lazy="https://www.instagram.com/p/CAs3PmWH9HW/media?size=l"
                style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"
                src="https://www.instagram.com/p/CAs3PmWH9HW/media?size=l"></a>
            <div class="j-text">
              <div class="j-poster"><a href="https://www.instagram.com/etonbicycles" target="_blank"><img
                    alt="Profile image for etonbicycles"
                    data-lazy="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX8ZHP95&amp;oh=c29991e04f9b9753b69dbff126e9ad7c&amp;oe=5F112B5B"
                    data-poster-id="241144037"
                    src="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX8ZHP95&amp;oh=c29991e04f9b9753b69dbff126e9ad7c&amp;oe=5F112B5B"
                    style="display: none;">
                  <h3>etonbicycles</h3><time class="j-date" datetime="2020-05-27T11:14:47.000-07:00">3mo</time>
                </a></div>
              <div class="j-message">
                <p>Pinkbike - Eton Rider Bike Check Extravaganza - Part
                  1<br>•<br>15 bikes from 15 Eton Riders with build details
                  and quick hits from the riders themselves.<br>•<br>Part 1 here
                  includes:<br>- <a href="https://www.instagram.com/walkershaw" target="_blank">@walkershaw</a>’s
                  #TallboyCC<br>- <a href="https://www.instagram.com/donny_soulja" target="_blank">@donny_soulja</a>’s
                  #5010CC<br>- <a href="https://www.instagram.com/cregskin" target="_blank">@cregskin</a>’s #5010AL<br>-
                  <a href="https://www.instagram.com/paulhette" target="_blank">@paulhette</a>’s #BronsonCC<br>- <a
                    href="https://www.instagram.com/markscott259" target="_blank">@markscott259</a>’s
                  #MegatowerCC<br>- <a href="https://www.instagram.com/kieranbennett36"
                    target="_blank">@kieranbennett36</a>’s #V1029er<br>- <a
                    href="https://www.instagram.com/loosedoglewis" target="_blank">@loosedoglewis</a>’ #V10275<br>-
                  <a href="https://www.instagram.com/iagogaray" target="_blank">@iagogaray</a>’s
                  #MegatowerCC<br>•<br>Head
                  to the <a href="https://www.instagram.com/pinkbike" target="_blank">@pinkbike</a> Link In Bio for
                  ALL the
                  details🔝</p>
              </div>
              <div class="j-meta">
                <ul>
                  <li><a aria-label="Comments" class="comments" href="https://www.instagram.com/p/CAs3PmWH9HW/"
                      target="_blank">122</a></li>
                  <li><a aria-label="Likes" class="heart" href="https://www.instagram.com/p/CAs3PmWH9HW/"
                      target="_blank">40,017</a></li>
                </ul>
                <nav><a aria-label="instagram" class="j-social j-instagram j-instagram-text-hover"
                    href="https://www.instagram.com/p/CAs3PmWH9HW/" target="_blank"></a></nav>
              </div>
            </div>
          </li>
          <li class="feed-item j-instagram j-instagram-bg j-gallery etonbicycles   is-not-youTube" data-id="428669522"
            data-source="instagram" style="margin-bottom: 10px; zoom: 1; opacity: 1;"><a class="j-image"
              data-external-id="CAkykt_nt3J" data-image="https://www.instagram.com/p/CAkykt_nt3J/media?size=l"
              data-video-url="" href="https://www.instagram.com/p/CAkykt_nt3J/" target="_blank"><span
                class="j-gallery-nav"><span class="j-gallery-arrow j-gallery-previous">Previous</span><span
                  class="j-gallery-arrow j-gallery-next">Next</span></span><img
                alt="Photo from @etonbicycles on Instagram on etonbicycles at 5/24/20 at 8:30PM" class=""
                data-lazy="https://www.instagram.com/p/CAkykt_nt3J/media?size=l"
                style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"
                src="https://www.instagram.com/p/CAkykt_nt3J/media?size=l"></a>
            <div class="j-text">
              <div class="j-poster"><a href="https://www.instagram.com/etonbicycles" target="_blank"><img
                    alt="Profile image for etonbicycles"
                    data-lazy="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX8ZHP95&amp;oh=c29991e04f9b9753b69dbff126e9ad7c&amp;oe=5F112B5B"
                    data-poster-id="241144037"
                    src="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX8ZHP95&amp;oh=c29991e04f9b9753b69dbff126e9ad7c&amp;oe=5F112B5B"
                    style="display: none;">
                  <h3>etonbicycles</h3><time class="j-date" datetime="2020-05-24T08:00:03.000-07:00">3mo</time>
                </a></div>
              <div class="j-message">
                <p>| Sundays With Sven |<br>•<br>Young blood, but old hands. Loris
                  &amp; Luca have followed similar trajectories and near parallel
                  career paths during their early years of World Cup racing. In
                  2014, both juniors, they are neck on neck, trading wins, two a
                  piece and it’s a battle right to the end of the season,
                  finishing 1st &amp; 2nd respectively. Grabbing top tens finishes
                  (a podium for Loris) as rookie Elites they both further cement
                  themselves into the top ten with podiums in their 2nd
                  year.<br>-<br>Both have loving and supporting families with
                  cycling in their veins, Claude Vergier battles Bruni senior at
                  Masters Worlds mirroring the ongoing battle between their
                  respective offspring in the majors, While Doug Shaw goes about
                  nabbing all the major Cols in Europe as Luca tackles the rough
                  downhills tracks.<br>-<br>In 2017 they are both conscripted into
                  the Syndicate. Collectively they bring down the average age of
                  the team significantly. The move is genius not only is the
                  future bright for the Syndicate but the challenge of youth
                  re-ignites a fire within Minnaar and he goes on a stormer
                  proving there’s still plenty of bite left in the top dog. With
                  big shoes to fill and no doubt some weighty expectations on
                  their shoulders they waste no time in turning heads. All eyes
                  are on them at the season opener, new year, new team, new bike
                  and new BIG wheel size. Luca and Loris go one and three in
                  qualifying, they have arrived!<br>-<br>A couple of years of
                  highs and lows for both of them, a slew of wins in qualifying
                  and some frustrating crashes. Bad luck with niggling injuries
                  they still push relentlessly, already podium proven they are now
                  both after the win. It comes first for Loris, bittersweet
                  watching from the hot seat as teammate, number one qualifier and
                  last man down, Luca crashes out in Andorra. Loris is buoyed on
                  by another duo of French Revolutionaries and more podiums soon
                  follow. Luca grabs a couple but will no doubt be wanting to
                  balance the scales more evenly once again and bring his version
                  of the Red White and Blue onto the top step. I can’t wait to see
                  how their intertwined story continues to develop when we head
                  out healthy and ready to race again.<br>•<br>Words &amp; Images
                  <a href="https://www.instagram.com/svenmartinphoto" target="_blank">@svenmartinphoto</a></p>
              </div>
              <div class="j-meta">
                <ul>
                  <li><a aria-label="Comments" class="comments" href="https://www.instagram.com/p/CAkykt_nt3J/"
                      target="_blank">17</a></li>
                  <li><a aria-label="Likes" class="heart" href="https://www.instagram.com/p/CAkykt_nt3J/"
                      target="_blank">10,236</a></li>
                </ul>
                <nav><a aria-label="instagram" class="j-social j-instagram j-instagram-text-hover"
                    href="https://www.instagram.com/p/CAkykt_nt3J/" target="_blank"></a></nav>
              </div>
            </div>
          </li>
        </div>
        <div class="j-stack galcolumn column-2-3OD8T" id="j-column-2"
          style="width: 33.3333%; padding-left: 5px; padding-right: 5px;">
          <li class="feed-item j-instagram j-instagram-bg j-video etonbicycles   is-not-youTube" data-id="429423817"
            data-source="instagram" style="margin-bottom: 10px; zoom: 1; opacity: 1;"><a class="j-image"
              data-external-id="CBQqJqunM5C" data-image="https://www.instagram.com/p/CBQqJqunM5C/media?size=l"
              data-video-url="https://scontent.cdninstagram.com/v/t50.2886-16/103082238_700413594078969_8535238453905667567_n.mp4?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=REvY0KKWvw8AX_UXRTb&amp;oe=5EEB846B&amp;oh=59ac29487874e220fe25207b41e2815f"
              href="https://www.instagram.com/p/CBQqJqunM5C/" target="_blank"><img
                alt="Photo from @etonbicycles on Instagram on etonbicycles at 6/10/20 at 9:27PM" class=""
                data-lazy="https://www.instagram.com/p/CBQqJqunM5C/media?size=l"
                style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"
                src="https://www.instagram.com/p/CBQqJqunM5C/media?size=l"></a>
            <div class="j-text">
              <div class="j-poster"><a href="https://www.instagram.com/etonbicycles" target="_blank"><img
                    alt="Profile image for etonbicycles"
                    data-lazy="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX8ZHP95&amp;oh=c29991e04f9b9753b69dbff126e9ad7c&amp;oe=5F112B5B"
                    data-poster-id="241144037"
                    src="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX8ZHP95&amp;oh=c29991e04f9b9753b69dbff126e9ad7c&amp;oe=5F112B5B"
                    style="display: none;">
                  <h3>etonbicycles</h3><time class="j-date" datetime="2020-06-10T08:57:24.000-07:00">3mo</time>
                </a></div>
              <div class="j-message">
                <p>| Creepy Fatigue |<br>Back in November of 2019, pre-pandemic
                  days, before we all started washing our hands like we were
                  prepping for surgery, <a href="https://www.instagram.com/markscott259"
                    target="_blank">@markscott259</a>, <a href="https://www.instagram.com/krunk_shox"
                    target="_blank">@krunk_shox</a>, and <a href="https://www.instagram.com/joeparkin"
                    target="_blank">@joeparkin</a> planned a little road bike
                  trip.<br>To Belgium. <br>In January.<br>?!<br>•<br>Full video
                  link in bio🔝</p>
              </div>
              <div class="j-meta">
                <ul>
                  <li><a aria-label="Comments" class="comments" href="https://www.instagram.com/p/CBQqJqunM5C/"
                      target="_blank">21</a></li>
                  <li><a aria-label="Likes" class="heart" href="https://www.instagram.com/p/CBQqJqunM5C/"
                      target="_blank">5,381</a></li>
                </ul>
                <nav><a aria-label="instagram" class="j-social j-instagram j-instagram-text-hover"
                    href="https://www.instagram.com/p/CBQqJqunM5C/" target="_blank"></a></nav>
              </div>
            </div>
          </li>
          <li class="feed-item j-instagram j-instagram-bg j-gallery etonbicycles   is-not-youTube" data-id="428987577"
            data-source="instagram" style="margin-bottom: 10px; zoom: 1; opacity: 1;"><a class="j-image"
              data-external-id="CA20J-Mnhnr" data-image="https://www.instagram.com/p/CA20J-Mnhnr/media?size=l"
              data-video-url="" href="https://www.instagram.com/p/CA20J-Mnhnr/" target="_blank"><span
                class="j-gallery-nav"><span class="j-gallery-arrow j-gallery-previous">Previous</span><span
                  class="j-gallery-arrow j-gallery-next">Next</span></span><img
                alt="Photo from @etonbicycles on Instagram on etonbicycles at 5/31/20 at 8:30PM" class=""
                data-lazy="https://www.instagram.com/p/CA20J-Mnhnr/media?size=l"
                style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"
                src="https://www.instagram.com/p/CA20J-Mnhnr/media?size=l"></a>
            <div class="j-text">
              <div class="j-poster"><a href="https://www.instagram.com/etonbicycles" target="_blank"><img
                    alt="Profile image for etonbicycles"
                    data-lazy="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX9Q8ZX6&amp;oh=e04ca3641e01e40bcb6505803a761f37&amp;oe=5F151FDB"
                    data-poster-id="241144037"
                    src="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX9Q8ZX6&amp;oh=e04ca3641e01e40bcb6505803a761f37&amp;oe=5F151FDB"
                    style="display: none;">
                  <h3>etonbicycles</h3><time class="j-date" datetime="2020-05-31T08:00:12.000-07:00">3mo</time>
                </a></div>
              <div class="j-message">
                <p>| Sundays With Sven |<br>•<br>2020 marks <a href="https://www.instagram.com/KathySessler"
                    target="_blank">@KathySessler</a>’s 17th year at the helm of
                  The Syndicate.<br>In all that time there have only ever been 6
                  team riders, so clearly she is doing something right. When
                  riders sign, they become part of the family. It can be no easy
                  task dealing with a team of such individual and larger than life
                  characters. No doubt her past experience as a bike-riding stunt
                  women comes in handy keeping them all in check. Then as a past
                  successful racer herself, she knows what a rider needs to do
                  their best. With top ten World Cup DH results and a masters
                  World Champs in the 90’s she almost matches her riders resumes,
                  earning her nickname “One Fast Mother”<br>•<br>Taking on a lot
                  more than just cooking and booking she invests herself
                  emotionally with the team too. She’s handy with the camera, puts
                  out sponsor books, hosts a mid season team Christmas dinner with
                  presents and all, she keeps them distracted when they need it
                  and focussed when it’s time to perform. On race day there is
                  always hidden Champagne on ice in the pits in case one of her
                  boys win, but she will just as graciously gift it to another
                  team with a winning rider. True class!<br>•<br>It’s very much a
                  two way relationship and her boys have been showing their
                  appreciation by gifting her a unique charm to fill a very
                  special bracelet she began building in 2008. Each win, big
                  result or special milestone is recorded with the appropriate
                  keepsake of gold, silver, diamonds, sapphires, onyx, wood and
                  Murano glass. <br>Roskopp, Bryceland, Peaty and Minnaar all
                  filling one in four short years. The second edition is already
                  in the making, we hope you have room on your wrist for many
                  more… We love you Kathy.<br>•<br>Images &amp; words <a
                    href="https://www.instagram.com/svenmartinphoto" target="_blank">@svenmartinphoto</a><br>May
                  31st
                  2020<br>#sundayswithsven</p>
              </div>
              <div class="j-meta">
                <ul>
                  <li><a aria-label="Comments" class="comments" href="https://www.instagram.com/p/CA20J-Mnhnr/"
                      target="_blank">30</a></li>
                  <li><a aria-label="Likes" class="heart" href="https://www.instagram.com/p/CA20J-Mnhnr/"
                      target="_blank">8,408</a></li>
                </ul>
                <nav><a aria-label="instagram" class="j-social j-instagram j-instagram-text-hover"
                    href="https://www.instagram.com/p/CA20J-Mnhnr/" target="_blank"></a></nav>
              </div>
            </div>
          </li>
          <li class="feed-item j-instagram j-instagram-bg image-post etonbicycles   is-not-youTube" data-id="428766593"
            data-source="instagram" style="margin-bottom: 10px; zoom: 1; opacity: 1;"><a class="j-image"
              data-external-id="CAqNDUzHRgd" data-image="https://www.instagram.com/p/CAqNDUzHRgd/media?size=l"
              data-video-url="" href="https://www.instagram.com/p/CAqNDUzHRgd/" target="_blank"><img
                alt="Photo from @etonbicycles on Instagram on etonbicycles at 5/26/20 at 10:57PM" class=""
                data-lazy="https://www.instagram.com/p/CAqNDUzHRgd/media?size=l"
                style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"
                src="https://www.instagram.com/p/CAqNDUzHRgd/media?size=l"></a>
            <div class="j-text">
              <div class="j-poster"><a href="https://www.instagram.com/etonbicycles" target="_blank"><img
                    alt="Profile image for etonbicycles"
                    data-lazy="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX8ZHP95&amp;oh=c29991e04f9b9753b69dbff126e9ad7c&amp;oe=5F112B5B"
                    data-poster-id="241144037"
                    src="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX8ZHP95&amp;oh=c29991e04f9b9753b69dbff126e9ad7c&amp;oe=5F112B5B"
                    style="display: none;">
                  <h3>etonbicycles</h3><time class="j-date" datetime="2020-05-26T10:27:37.000-07:00">3mo</time>
                </a></div>
              <div class="j-message">
                <p>When you head out and bump into someone wearing the exact same
                  outfit.<br>#whoworeitbetter<br>•<br>🚲#BlurCC<br>🚙#SouthAfricanTaxi<br>📷<a
                    href="https://www.instagram.com/_rushsports_" target="_blank">@_rushsports_</a></p>
              </div>
              <div class="j-meta">
                <ul>
                  <li><a aria-label="Comments" class="comments" href="https://www.instagram.com/p/CAqNDUzHRgd/"
                      target="_blank">89</a></li>
                  <li><a aria-label="Likes" class="heart" href="https://www.instagram.com/p/CAqNDUzHRgd/"
                      target="_blank">25,615</a></li>
                </ul>
                <nav><a aria-label="instagram" class="j-social j-instagram j-instagram-text-hover"
                    href="https://www.instagram.com/p/CAqNDUzHRgd/" target="_blank"></a></nav>
              </div>
            </div>
          </li>
          <li class="feed-item j-instagram j-instagram-bg j-gallery etonbicycles   is-not-youTube" data-id="428590571"
            data-source="instagram" style="margin-bottom: 10px; zoom: 1; opacity: 1;"><a class="j-image"
              data-external-id="CAf06bInZ-1" data-image="https://www.instagram.com/p/CAf06bInZ-1/media?size=l"
              data-video-url="" href="https://www.instagram.com/p/CAf06bInZ-1/" target="_blank"><span
                class="j-gallery-nav"><span class="j-gallery-arrow j-gallery-previous">Previous</span><span
                  class="j-gallery-arrow j-gallery-next">Next</span></span><img
                alt="Photo from @etonbicycles on Instagram on etonbicycles at 5/22/20 at 10:14PM" class=""
                data-lazy="https://www.instagram.com/p/CAf06bInZ-1/media?size=l"
                style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"
                src="https://www.instagram.com/p/CAf06bInZ-1/media?size=l"></a>
            <div class="j-text">
              <div class="j-poster"><a href="https://www.instagram.com/etonbicycles" target="_blank"><img
                    alt="Profile image for etonbicycles"
                    data-lazy="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX8ZHP95&amp;oh=c29991e04f9b9753b69dbff126e9ad7c&amp;oe=5F112B5B"
                    data-poster-id="241144037"
                    src="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/15043577_920891294679603_8968371809787314176_a.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=bzrwmJFKKTgAX8ZHP95&amp;oh=c29991e04f9b9753b69dbff126e9ad7c&amp;oe=5F112B5B"
                    style="display: none;">
                  <h3>etonbicycles</h3><time class="j-date" datetime="2020-05-22T09:44:17.000-07:00">3mo</time>
                </a></div>
              <div class="j-message">
                <p>Bike Check: Ben Cathro's Eton V10💥<br>•<br>Full bike check
                  with all the gritty details from <a href="https://www.instagram.com/ben_cathro"
                    target="_blank">@ben_cathro</a> and <a href="https://www.instagram.com/rossbellphoto"
                    target="_blank">@rossbellphoto</a> at the <a href="https://www.instagram.com/pinkbike"
                    target="_blank">@pinkbike</a> link in
                  Bio!🔝<br>•<br>🚲#V10CC<br>📷<a href="https://www.instagram.com/rossbellphoto"
                    target="_blank">@rossbellphoto</a><br>#walkthetalk</p>
              </div>
              <div class="j-meta">
                <ul>
                  <li><a aria-label="Comments" class="comments" href="https://www.instagram.com/p/CAf06bInZ-1/"
                      target="_blank">92</a></li>
                  <li><a aria-label="Likes" class="heart" href="https://www.instagram.com/p/CAf06bInZ-1/"
                      target="_blank">34,247</a></li>
                </ul>
                <nav><a aria-label="instagram" class="j-social j-instagram j-instagram-text-hover"
                    href="https://www.instagram.com/p/CAf06bInZ-1/" target="_blank"></a></nav>
              </div>
            </div>
          </li>
        </div>
      </div>
    </div>
    <div id="clear3OD8T" style="clear: both; height: 0px; width: 0px; display: block;"></div>
  </ul> -->
</section>
