<div class="plain-text">
  <p><strong>JADE INTERNATIONAL</strong> (Terms and <strong>"Conditions"</strong>)
    Jade International serves its customers the best quality products for their comfort. We have framed some terms and
    conditions for the protection of the company as well as the customer’s rights. By visiting our website, you are
    agreeing upon the enlisted terms and conditions.</p>

  <h6>GENERAL</h6>

  <p>Jade International owns all the rights to refuse its services to any customer with or without any due reason.Every
    customer needs to understand that during online payment operations all your payment content can be transferred in
    some way which is not harmful. Several credit-card information can be shared in unencrypted form and it is important
    for the customers to know that.We have framed these terms and conditions so as to keep the best interests of both
    parties at par.
  </p>

  <p>
    <strong>• VISION </strong>
    Our vision is to create and sell premium quality bikes for cyclists. It strives to prepare that premium quality,
    which makes it durable. At jade International, we combine efficiency with convenience and even the smallest part of
    the bicycle with top-notch quality. It believes in making all the parts and wheels durable, long-lasting, and
    backed.
  </p>

  <p>
    <strong>• QUALITY </strong>
    We have seen every major company in almost every field talk about how important quality is and indeed plays a
    significant role in shaping the organization's image. Passion for creating quality products/services should be the
    aim of every organization.
    At jade International, we believe in it too, as we work every day to make this dream come true. Years ago, when we
    founded this company, the main aim was to create quality driven bicycles.

  </p>


  <h6>ELIGIBILITY </h6>

  <p>The use of our website is completely available to people who form legally binding contracts with effect of Indian
    Contract Act, 1872. Minors and others who are incompetent to contract under the law, are not advised to use the
    website. If you belong to any such category and you are not eligible to use the website due to other reasons, you
    shall neither register nor transact/use the website. The company holds the right to bar you from receiving the
    services and products ofJade International. If Jade Internationalis informed about a non-eligible person using the
    website, the company is in its free rights to terminate the membership of that user.
  </p>

  <h6>BUYER’S ACCOUNT AND REGISTRATION OBLIGATIONS </h6>

  <p>User of the website is solely responsible for all the confidential information, including user IDs, passwords and
    other such kind of information as well as the activities which occur under a personal account on our website. If the
    company finds out about any kind of untrue or false information provided by any customers, Jade Internationalin its
    free will can exercise its rights to refuse providing a particular user, the access to its website.
  </p>

  <h6>PRIVACY POLICY</h6>

  <p>We believe that our customers' privacy is the most important for us. So, we must understand how we collect, use,
    and disclose information.
  </p>

  <p>
    <strong>• Personal Information</strong>
    Personal information identifies you as an identifiable individual. We collect two types of personal data depending
    on the websites, products, and services you opt to use.
    The first category of personal information is that users provide our website, products, and services, usually the
    name, email address, phone number, billing information, and passwords.

    The other category of information generates automatically when a user uses Jade International’s website, products,
    and services. This type of data is commonly known as Metadata, collected when you send data via a computer network
    (Internet) while using a computer or device.

    This information category may include the number of times you access the site, browser language, geographic
    location, Internet Protocol (IP) address, device identifier, hardware information, and browser type.

    We can collect Personal information through various kinds of services, such as when you sign up for a newsletter,
    register an account to get access to the services, make a purchase, or fill a Contact Us form. When you visit our
    stores offline, attend our trade-shows, place an order over the phone, and contact our customer services, we can
    collect personal information about our users easily.

    We also collect Personal Information from various publicly available databases; joint marketing partners also share
    information. For providing our products and services, we need to get this personal information because if not, we
    will not be able to provide our products and services.
  </p>

  <p>
    <strong>• Other Information</strong>
    Other information includes browser and device, demographic information, data through pixel tags, and other
    technologies. While personal details reveal the personal identity, additional information does not disclose personal
    identity.

    We collect Other Information from various such as Media Access Control (MAC) address, operating system name, device
    manufacturer and model, language, Internet browser type and version, and also the name and version of the services
    which you are using, such as application. We focus on collecting this information so that we can ensure that our
    services are working correctly.

    We can also collect information using cookies, which are the pieces of information available on the computer or
    device you access. The report facilitates navigation so that we can display the data effectively. From cookies, we
    get the information about our advertisement that is likely to appeal to you the most, and then we display those
    advertisements when you are using our services.

    Though, most of the websites provide an option with which you can accept or decline the cookies if you do not want
    to share information. It will create a problem as you can inconvenience using our services if you reject the
    cookies.

  </p>

  <h6>USE OF WEBSITE</h6>

  <p>
    The company’s website might contain hyperlinks (links to other websites). They are just for convenience of the
    users of the website. Jade International is not responsible for the privacy of any associated website. It is the
    duty of the user to make sure that they are legally allowed to make the use of the website.
    Every customer is responsible for the safety of their own personal information that they share on the website. Jade
    International holds no answerability towards the personal information of the people.

  </p>

  <h6>CONTENTS POSTED ON WEBSITE</h6>

  <p>
    The company is always concerned about the artwork, photographs, music, logos, text, graphics etc. on the website.
    All such content on the website is completely owned, licenced and also controlled by Jade International. All of this
    is also protected by copyright, unfair competition laws, patent, intellectual laws and patent etc.
    Jade Internationaldoes not allow the theft of any kind of graphics, logos, text or ideas from the website. Under the
    company’s terms and conditions, no content from the official website of Jade International can be copied, posted,
    encoded, reproduced or displayed in any way without any prior consent. In such a situation, the company holds a
    complete right to take appropriate legal action against the responsible party.
    The only way to use the information provided by the website is in the following scenarios (a) if there is a
    non-commercial/ personal use and do not broadcast such information in any way. (b) if the proprietary notice
    language in all copies of any document is removed completely. (c) if no modifications are made in the text or any
    information. Anyone who takes the information from the company’s website or modifies it in any way to distribute
    among the public is liable for a strict action by Jade International.
  </p>


  <h6>PAYMENTS </h6>

  <p>
    While paying the company for any of its services or products, Eton will not be answerable to assume any kind of
    liability. In the following cases, Jade Internationalwill be free of any liability towards the customer in terms of
    payment:<br><br>
    <strong>1. Any payment issues out of the transactions</strong><br>
    <strong>2. The lack of authorization for transactions</strong><br>
    <strong>3. Technical failures in payments with your bank</strong><br>
    <strong>4. Decline of payment due to any reason.</strong>
    <br><br>
    The payments made to our company in any way should strictly be in Indian currency acceptable by the Government of
    India. Our firm does not accept any other form of payment other than the national currency.
    Despite of all precautions while the payment, if there is some fault in the payment, we take a well-planned fraud
    prevention protocol. In such a situation, a particular order might not be processed unless the order gets through
    our protocols. In case the requested information is not fulfilled within 7 days, the order shall be cancelled and
    the paid money shall be returned back to the buyer. Jade International tries its best to protect its customers from
    online scams.
  </p>


  <h6>INDEMNITY </h6>

  <p>
    The customer shall indemnify and hold harmless Jade International, its affiliates, directors, agents, and every
    other respective employee from all kinds of claims and demands imposed due to the breach of the company’s terms and
    conditions or violation of the law or the rights of a third-party.
  </p>


  <h6>HENCEFORWARD </h6>

  <p>
    Jade International, in no way is responsible for any representation or warranty for the products or services sold on
    the company website. We hold no liability for the sale of goods on the website by any third party. We do not sponsor
    or endorse the presence of any other company’s product on the website. The website is only a platform for the
    convenience of the users and for a wider reach of products.
  </p>



  <h6>COOKIE POLICY </h6>

  <p>
    Jade International is offering you this website, and we aim to provide the best, informative, and supportive online
    experience. We need information about our users to provide a relevant experience, so we use cookies, web beacons,
    and similar techniques that store information on your computer about your visit to our website.

    We believe that our users should know complete knowledge about what cookies our websites use, which will help them
    protect their privacy and ensure our website's user-friendliness.
    We use various cookies on our websites, such as functional, analytical, advertising, and social media cookies. We
    use all these cookies for different reasons and purposes.

    Our users can use the functional cookies correctly and its functions; without these cookies, various functions such
    as electronic payments, the shopping basket will not be possible. We also use these cookies to authenticate the
    users, loading the website smoothly to access it easily, remembering your wish list, which you make while doing
    online purchasing.

    Analytical cookies help us to gather information about the surfing behaviour of our users on which page they visit
    often. With the help of these cookies, we also ensure whether our users are receiving error messages.

    These cookies help us make the structure and content of the website, which is user-friendly. We use these cookies
    for various purposes, such as keeping track of the number of visitors on our website, the time each user spends
    surfing on our website, and optimizing the website.

    Advertising cookies help us provide information to our users, which are the most authentic and relevant for them to
    surf our website as much as possible. Along with the content of our website, advertisements also help us to achieve
    our aim.

    The advertisement cookies, we keep a check on the advertisements shown to you and those that are not. We also check
    if you open these advertisements or not and track the number of orders our users make via advertisements, and also,
    we pass this information to other websites. With this information's help, we aim to show our users more exciting
    advertisements to open and click it more often.

    Via social media, through buttons, you can like the videos, images, and articles you see on our website. Social
    media cookies enable these buttons to recognize you whenever you want or share any video or image. The social media
    cookies, those users who have already logged in on selected social media, can directly share the content of our
    website. Also, sometimes these social media parties can collect information for their purposes.

  </p>
