p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #272828;
  margin-bottom: 25px;
}

.plain-text {
  margin: 150px;
}

ul {
  li {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #272828;
    margin-bottom: 15px;
  }
}

h4 {
  color: #595958;
  font-size: 26px;
  font-weight: 600;
  margin: 0 0 10px;
}

h5 {
  color: #272828;
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 10px;
}

h6 {
  font-weight: 600;
  font-size: 17px;
  margin: 0 0 10px;
}
