<div id="tab-faqs" class="js-tab-target tab-content__item">
    <div class="faq-list">
      <div class="faq-list__faqs">
        <div class="faq-item" *ngFor="let item of data; let i = index;">

          <div class="faq-item__header js-accordion-trigger" (click)="handleFaqClick(i)">
            <div class="faq-item__question">
              <h2><a name="faq-2754"></a>{{item.key}}</h2>
            </div>
          </div>

          <div class="faq-item__answer js-accordion-target" [ngStyle]="{'display' : faqClicked[i] && faqClicked[i].show ? 'block' : 'none' }">
            <p>{{item.value}}</p>
          </div>
          <div class="item-toggle" [ngClass]="{ 'opened' : faqClicked[i] && faqClicked[i].show}"></div>
        </div>        
      </div>
    </div>
  </div>