<div id="frame_hero">
  <section class="hero-panel hero-panel--text-left  hero-panel--has-text hero-panel--image">
    <div class="hero-panel__inner">
      <picture>
        <img data-src="/assets/img/kep_181024_elwell_mas_1013-2-pano-4_hero_optimized.jpg?itok=zdKJUPfG"
          class=" lazyloaded" alt="Eton Bicycles PayDirt Trails" title="PartDirt Trail Work"
          src="/assets/img/kep_181024_elwell_mas_1013-2-pano-4_hero_optimized.jpg?itok=zdKJUPfG">
      </picture>
      <div class="l-wrapper--absolute">
        <div class="hero-panel__text-container hero-panel__text-container--normal">
          <h1 class="hero-panel__title">Quality Bicycles Since 1994</h1>
          <div class="hero-panel__button">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
