<div id="frame_hero" style="cursor: pointer;">
  <section class="hero-panel hero-panel--text-left  hero-panel--has-text hero-panel--image">
    <div class="hero-panel__inner" (click)="showFullImage(section.medias[0], 0)">
      <picture>
        <img class=" lazyloaded" [src]="path+section.medias[0].media_link" default="">
      </picture>
      <div class="l-wrapper--absolute">
        <div class="hero-panel__text-container hero-panel__text-container--normal">
          <h1 class="hero-panel__title">{{section.heading}}</h1>
          <div class="hero-panel__button">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
