<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo">
          <a routerLink="/">
            <img src="/assets/images/logo.svg"
              alt="PumPumPum Logo">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <div class="footer-description">
          <p>PumPumPum is a flexible, affordable and convenient solution for car ownership.</p>
          <a class="btn btn-danger corporate-ft-link" routerLink="/corporate">Corporate Lease</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-6 col-xs-6">
        <div class="footer-description footer-side">
          <p>
            <a [routerLink]="['/contact-us']">Contact Us</a>
          </p>
          <p>
            <a [routerLink]="['/cars']">Explore cars</a>
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="footer-description footer-side">
          <p>
            <a [routerLink]="['/faqs']">FAQs</a>
          </p>
          <p>
            <a [routerLink]="['/terms-condition']">Terms & Conditions</a>
          </p>
          <p>
            <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
          </p>
          <p>
            <a [routerLink]="['/refund']">Refund Policy</a>
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="footer-description footer-side contact-block">
          <p>
            <a href="#"><span class="icon-phone"></span> +91 8178050450</a>
          </p>
          <p>
            <a href="mailto:support@pumpumpum.com">
              <span class="icon-email"></span> support@pumpumpum.com
            </a>
          </p>
          <div class="social-media">
            <p>
              <a href="https://www.facebook.com/pumpumpumcars/">
                <span class="icon-facebook-footer-new"><img src="assets/images/facebook.svg"></span>
                PumPumPum
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="footer-description bottom-footer-description">

          <p class="copy-right">© {{ date }} Pumpumpum.com </p>
          <div class="t9l-logo">
            <a target="_blank"
              href="http://t9l.com/">
              <img src="/assets/images/t9l-logo.svg"
                alt="PumPumPum Logo">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-background"></div>
</footer>
