<div *ngIf="!formSuccess">
  <div class="page-title">
    Forgot<br>
    <span>password?</span>
  </div>
  <p>Enter the email address associated with your account. We will email you a link to reset your password.</p>
  <form [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
    class="formElements">
    <div class="form-group">
      <input type="text"
        formControlName="email"
        class="form-control"
        placeholder="Your Email" />
      <app-input-validation [control]="forgotPasswordForm.controls.email">
      </app-input-validation>
    </div>

    <button type="submit"
      class="btn btn-primary btn-block"
      [appLoadingButton]="isSubmitting">
      Send Password Reset Link
    </button>

    <div class="text-center">
      <button (click)="openRegisterForm()"
        class="link-btn"
        type="button">Don't have an account ? <span>Register now</span></button>
    </div>
  </form>
</div>
<div *ngIf="formSuccess"
  class="success-message">
  <h5 class="page-title">Password reset <br>link <span>sent</span></h5>
  <p>We've emailed you instructions for setting your password. If you don't receive an email make sure you've entered
    your registered email with us or check your spam folder.</p>
  <a routerLink="/cars"
    (click)="closeModal()"
    class="btn btn-primary btn-block">
    Browse Cars
  </a>
</div>
