.page-title {
  letter-spacing: .3px;
  font-size: 32px;
  line-height: 32px;
  color: #000;
  margin: 0;

  span {
    color: #ee1f52;
  }
}

p {
  color: #555;
  display: block;
  font-size: 16px;
  line-height: 22px;
  margin: 15px 0;
  font-weight: 300;
}

.error-message {
  color: red;
  font-size: 14px;
}

.link-btn {
  font-size: 13px;
  color: #888;
  font-weight: 400;

  span {
    color: #ee1f52;
  }
}

