<h1 [class.large-title]="!isDialogModal">
    Change
    <span>Password</span>
</h1>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="formElements">
    <div class="form-group">
        <label class="label-form">Enter your current password</label>
        <input type="password" formControlName="password" class="form-control" placeholder="Enter password" />
        <app-input-validation [control]="changePasswordForm.controls.password">
        </app-input-validation>
        <div *ngIf="changePasswordForm.get('password').errors?.serverError" class="error-message">
            <!-- {{ loginForm.get('password').errors?.serverError }} -->
        </div>
    </div>
    <div class="forget-link">
        <button type="button" (click)="openForgotPasswordForm()" class="link-grey">Forgot password?</button>
    </div>
    <div class="form-group">
        <label class="label-form">Enter new password</label>
        <input type="password" formControlName="newPassword" class="form-control" placeholder="Enter new password" />
        <app-input-validation [control]="changePasswordForm.controls.newPassword">
        </app-input-validation>
    </div>
    <div class="form-group">
        <label class="label-form">Repeat your password</label>
        <input type="password" formControlName="repeatPassword" class="form-control" placeholder="Repeat your password" />
        <app-input-validation [control]="changePasswordForm.controls.repeatPassword">
        </app-input-validation>
    </div>

    <button type="submit" class="btn btn-primary btn-block">
    Submit
  </button>
</form>