<section class="contact-us-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact us</h1>
                <p>Have any questions? Reach out to our team.</p>
            </div>
        </div>
    </div>
</section>

<div class="contact-wrapper">
    <div class="row">
        <div class="col-md-5">
            <div class="block">
                <h4><i class="icon-phone"></i>Contact Us On</h4>
                <a [href]="'tel:' + companyInformation.phone">{{ companyInformation.phone }}</a>
            </div>
            <div class="block">
                <h4><i class="icon-email"></i>Email Us At</h4>
                <p>For Customer Support</p>
                <a [href]="'mailto:' + companyInformation.supportEmail">{{ companyInformation.supportEmail }}</a>
                <p class="mt-4">For Sales and Marketing</p>
                <a [href]="'mailto:' + companyInformation.salesEmail">{{ companyInformation.salesEmail }}</a>
            </div>
            <div class="block border-bottom-0">
                <h4><i class="icon-location"></i>Find Us At</h4>
                <h5>{{ companyInformation.company_name }}</h5>
                <p class="space-bottom">{{ companyInformation.address }}</p>
                <p>CIN:- U50400DL2018PTC332629</p>
            </div>
        </div>
        <div class="col-md-7">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="formElements">
                <div class="form-group">
                    <input type="text" formControlName="name" class="form-control" placeholder="Your Name" />
                    <app-input-validation [control]="contactForm.controls.name">
                    </app-input-validation>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="email" class="form-control" placeholder="Your Email" />
                    <app-input-validation [control]="contactForm.controls.email">
                    </app-input-validation>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="phone" class="form-control" placeholder="Your Mobile Number" />
                    <app-input-validation [control]="contactForm.controls.phone">
                    </app-input-validation>
                </div>
                <div class="form-group">
                    <textarea type="text" formControlName="message" class="form-control" placeholder="Your Message"></textarea>
                    <app-input-validation [control]="contactForm.controls.message">
                    </app-input-validation>
                </div>

                <button type="submit" class="btn btn-primary btn-block" [appLoadingButton]="loading">
          Register
        </button>
            </form>

        </div>
    </div>
</div>